<div class="headinglayout" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
     fxLayoutAlign="center">
  <div fxFlex="100%">
    <mat-toolbar>
      <mat-icon class="allArrowBack" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.snmp.backToPointImport').substring(0,5): ''}}" onclick="goBack()">
        <i class="fa fa-chevron-left"></i>
      </mat-icon>
      <span>
        {{UIDICTIONARY ? UIDICTIONARY.get('ui.platformIntegration'): ""}}
      </span>
    </mat-toolbar>
  </div>
</div>

<div class="container cardlayout width-100" fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5% grid"
     fxLayoutAlign="left">

  <div fxFlex="22%" class="card_margin cursorPointer">
    <mat-card class="all_card matCardAll">
      <mat-card-header>
        <mat-card-title class="system_text ">
          {{UIDICTIONARY ? UIDICTIONARY.get('ui.platformIntegration.mqttConfiguration'): ""}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="text-center">
        <mat-icon class="platformCardMqtt" aria-hidden="false"
                  aria-label=" published_with_changes icon" (click)="showMqttDetail()">
          call_split
        </mat-icon>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="22%" class="card_margin">
    <mat-card class="mat-card all_card matCardAll">
      <mat-card-header>
        <mat-card-title class="system_text">
          {{UIDICTIONARY ? UIDICTIONARY.get('ui.platformIntegration.provisionedDevices'): ""}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="text-center">
        <mat-icon class="platformCardProvisioned"
                  (click)="showProvisionDetail()">low_priority
        </mat-icon>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="22%" class="card_margin">
    <mat-card class="mat-card all_card matCardAll">
      <mat-card-header>
        <mat-card-title class="system_text">
          {{UIDICTIONARY ? UIDICTIONARY.get('ui.platformIntegration.unprovisionedDevices'): ""}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="text-center ">
        <mat-icon class="platformCardUnprovisioned" aria-hidden="false"
                  aria-label=" published_with_changes icon"
                  (click)="showUnprovisionedDevices()">devices_fold
        </mat-icon>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="22%" class="card_margin" (click)="serverSidebar()">
    <mat-card class="mat-card all_card matCardAll">
      <mat-card-header>
        <mat-card-title class="system_text">
          {{UIDICTIONARY ? UIDICTIONARY.get('ui.platformIntegration.serverDetails'): ""}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="text-center">
        <mat-icon class="platformServerDetails" aria-hidden="false"
                  aria-label=" published_with_changes icon" >connected_tv
        </mat-icon>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="22%" class="card_margin">
    <mat-card class="mat-card all_card matCardAll">
      <mat-card-header>
        <mat-card-title class="system_text">
          {{UIDICTIONARY ? UIDICTIONARY.get('ui.platformIntegration.deviceConfiguration'): ""}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="text-center">
        <mat-icon class="platformCardConfiguration" aria-hidden="false"
                  aria-label=" published_with_changes icon"
                  (click)="showDeviceConfiguration()">view_timeline
        </mat-icon>
      </mat-card-content>
    </mat-card>
  </div>
</div>


