
<mat-toolbar class="mat-toolbar mat-toolbar_all details-toolbar mat-toolbar-single-row position-sticky">
  <mat-card-title class="sidebar_form_title">
    {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.heading.modbus.configuration.queryModel'): ""}}
  </mat-card-title>
  <span class="spacer"></span>
  <button mat-raised-button class="Top_Update_Button toolbarUpdateButton" [mat-dialog-close]="true" (click)="updateQuery()">
    {{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.update')| uppercase) : ""}}
  </button>
  <button [mat-dialog-close]="true" (click)="allClose($event)" mat-raised-button class="Save_Button cancelAllData setTopCancel">
    {{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.cancel')| uppercase) : ""}}
  </button>
</mat-toolbar>

<mat-dialog-content class="queryMain">
  <mat-form-field class="topSearchBoxes">
    <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.search'): ""}}</mat-label>
    <input (keyup.enter)="filterDiscovered()" [(ngModel)]="searchDiscovered" matInput name="searchDiscovered">
    <mat-icon (click)="filterDiscovered()" class="Input_search" matSuffix>search</mat-icon>
  </mat-form-field>

  <mat-selection-list #queryModelList class="queryModel" [(ngModel)]="queryOptions" name="queryOptions" (ngModelChange)="queryChange($event)">
    <mat-list-option *ngFor="let item of queryList; index as i" [value]="item.id" [selected]="item.id === test">
      {{item.name}}
    </mat-list-option>

  </mat-selection-list>
</mat-dialog-content>

<div class="watchlistPositionFixed queryPagination">
  <mat-paginator  [pageIndex]=0 [length]="totalList" [pageSizeOptions]="pageSizeOptions" [pageSize]=limit
                  (page)="getNextPage($event)"></mat-paginator>
</div>

