<div class="container headinglayout" fxLayout="row" fxLayout.xs="column" fxLayoutWrap
     fxLayoutGap="0.5%"
     fxLayoutAlign="center">
  <div fxFlex="100%">
    <mat-toolbar>
      <mat-icon class="allArrowBack" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.snmp.backToPointImport').substring(0,5): ''}}" onclick="goBack()">
        <i class="fa fa-chevron-left"></i>
      </mat-icon>
      <span>  {{UIDICTIONARY ? UIDICTIONARY.get('ui.meshConsole.menu.firmwareUpdate') : ""}}</span>
      <div class="containerInfo">
      </div>
    </mat-toolbar>
  </div>
</div>

<div class="container cardlayout firmWareCard" fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap
     fxLayoutGap="0.5% grid"
     fxLayoutAlign="left">

  <div fxFlex="22%" class="card_margin allResponsiveCard" (click)="OtabFile()">
    <mat-card class="mat-card all_card matCardAll">
      <mat-card-header>
        <mat-card-title
          class="cardTitleName allResponsiveText"> {{UIDICTIONARY ? UIDICTIONARY.get('ui.meshConsole.ota.file.heading') : ""}}</mat-card-title>
        <mat-card-subtitle class="card_icon_right">
          <mat-icon aria-hidden="false" aria-label="perm_data_setting icon">
            countertops
          </mat-icon>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="22%" class="card_margin allResponsiveCard" (click)="nodeStatus()">
    <mat-card class="mat-card all_card matCardAll">
      <mat-card-header>
        <mat-card-title
          class="cardTitleName allResponsiveText"> {{UIDICTIONARY ? UIDICTIONARY.get('ui.meshConsole.ota.nodeStatus.heading') : ""}}</mat-card-title>
        <mat-card-subtitle class="card_icon_right">
          <mat-icon>hub</mat-icon>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

