<mat-card class="form_cards">
    <!-- Title of an Card -->
    <mat-toolbar class="mat-toolbar_all">
        <mat-card-title class="sidebar_form_title  matCardTitles">
            {{UIDICTIONARY ? UIDICTIONARY.get('ui.modbus.modbusController.configuration'): ""}}
        <small *ngIf="configListName">{{configList.name}}</small>
        </mat-card-title>
        <span class="spacer"></span>
    </mat-toolbar>
</mat-card>

<mat-card-content class="form_cards form_edit_card allFormedit">
    <div id="errorMsg">
        <mat-card class="validation-error">
          <li *ngFor="let error of configFormError">{{error.property}} : {{error.message}}</li>
        </mat-card>
      </div>
    <form class="configFormAlign">
        <mat-form-field class="form_field w-50" appearance="fill">
            <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.name'): ""}}</mat-label>
            <input matInput [(ngModel)]="configList.name" class="form-control" name="name" type="text" required>
        </mat-form-field>
        <mat-form-field class="form_field w-50" appearance="fill">
            <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.modbus.modbusController.slaveId'): ""}}</mat-label>
            <input matInput [(ngModel)]="configList.slaveId" class="form-control" name="slaveId" type="text" required>
        </mat-form-field>
        <mat-form-field class="form_field w-50" appearance="fill">
            <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.modbus.modbusController.deviceType'): ""}}</mat-label>
            <mat-select name="definition" [(ngModel)]="configList.definition"  (selectionChange)="selectedValue($event)" required>
                <mat-option *ngFor="let item of deviceTypeKey" [value]="item.type">{{item.value}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="form_field w-50" appearance="fill" *ngIf="condition">
            <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.modbus.modbusController.attributes'): ""}}</mat-label>
            <mat-select name="deviceAttribute" [(ngModel)]="configList.deviceAttribute" (selectionChange)="attributeValue($event)" required>
                <mat-option *ngFor="let item of atributeTypeKey" [value]="item.type">{{item.value}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="form_field w-50" appearance="fill" *ngIf="pollingCondition">
            <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.modbus.modbusController.pollingInterval'): ""}}</mat-label>
            <input matInput class="form-control" type="text" name="interval" required [(ngModel)]="configList.interval" required>
        </mat-form-field>
        <mat-form-field class="form_field w-50" appearance="fill">
            <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.readPermission'): ""}}</mat-label>
            <mat-select name="readPermission" [(ngModel)]="readPermission" multiple>
                <mat-option *ngFor="let read of permissions" [value]="read">{{read}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="form_field w-50" appearance="fill">
            <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.table.editPermission'): ""}}</mat-label>
            <mat-select name="editPermission" [(ngModel)]="editPermission" multiple>
                <mat-option *ngFor="let write of permissions" [value]="write">{{write}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-slide-toggle name="one_time" class="toggle_change marginLeft-20  w-50"
            [(ngModel)]="configList.oneTime" required>
            {{UIDICTIONARY ? UIDICTIONARY.get('ui.modbus.modbusController.field.oneTime'): ""}}
        </mat-slide-toggle>

        <button #updateButton matfab class="saveButton updateButton   mt-10 " (click)="updateConfigForm() "
            *ngIf="isEdit">
          <mat-icon>save_as</mat-icon>
            {{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.update') | uppercase) : ""}}
        </button>
        <button #saveButton matfab class="saveButton  marginLeft-10 mt-10" (click)="saveConfigForm()" *ngIf="!isEdit">
          <mat-icon>save</mat-icon>
          {{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.save') |  uppercase) : ""}}
        </button>
    </form>
</mat-card-content>
