<mat-form-field class="form_field w-50" appearance="fill">
  <mat-label>{{UIDICTIONARY ?
    UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.holdTimeTwo'): ""}}
  </mat-label>
  <input matInput class="form-control" [(ngModel)]="nodeSettings.holdTimeTwo" id="HTT" name="HTT"
         placeholder="Enter here" type="text">
</mat-form-field>

<span class="w-50">
       <mat-label>{{UIDICTIONARY ?
         UIDICTIONARY.get('ui.lightCommissioning.table.tableColumn.Dimming'): ""}} &nbsp;
              &nbsp;<strong>{{dimmingValueTwo}}</strong></mat-label>
       <br>

       <input matInput class="form-control" [(ngModel)]="dimmingValueTwo" id="dimmingValueTwo" name="dimmingValueTwo"
              hidden="true">

       <mat-slider class="example-margin" [(ngModel)]="dimmingValueTwo">
       </mat-slider>
</span>
