<mat-divider class="form_devide visibilityHidden"></mat-divider>
<div class="doubleSlider">
  <span>
    <mat-label> {{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.noMotion'): ""}}
      <strong>{{noMotionValue}}</strong></mat-label>

      <input matInput class="form-control" [(ngModel)]="noMotionValue" id="noMotionValue"
             name="noMotionValue"
             hidden="true">
  <div>
      <mat-slider class="example-margin"
                  >
        <input matSliderThumb [(ngModel)]="noMotionValue">
    </mat-slider>
  </div>
  </span>

  <span>
    <mat-label> {{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.Motion'): ""}} &nbsp; &nbsp;<strong> {{motionValue}}</strong></mat-label>

      <input matInput class="form-control" [(ngModel)]="motionValue" id="MotionValue" name="MotionValue"
             hidden="true">
 <div>
      <mat-slider class="example-margin"
                 >
        <input matSliderThumb  [(ngModel)]="motionValue">
    </mat-slider>
 </div>
  </span>
</div>




