<h1 class="headingProvisionGateway">Provision Gateway Form</h1>
<form class="mainContainerProvisionGatwaye">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>
      {{UIDICTIONARY ? UIDICTIONARY.get('ui.platformIntegration.deviceConfiguration'): ""}}
    </mat-label>
    <input type="text"
           class="autoSearchInput"
           placeholder="Device Type"
           matInput
           [formControl]="myControl"
           (input)="onInputChange($event)"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption  #auto="matAutocomplete">
      <mat-option  *ngFor="let option of queryList" (onSelectionChange)="deviceChange(option, $event)" [value]="option.name">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.publisher.placeholder.gateway'): ""}} {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.name'): ""}}</mat-label>
    <input matInput name="name" [(ngModel)]="name">
  </mat-form-field>

  <div class="button-group">
    <button mat-raised-button (click)="pushAndSave()" color="primary">{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.button.push'): ""}}</button>
    <button class="closeButtons"  mat-button mat-dialog-close>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.button.close'): ""}}</button>
  </div>
</form>

