table {
  width: 100%;
}


.mat-card {
  width: 375px;
  float: left;
  margin: 7px;
  background: #292f35;
}

.card-icon-space-size {
  font-size: 110px;
  width: auto;

}


/* material css start here */

/*.mat-grid-list {*/
/*  margin-left: 44px;*/
/*  !* margin-top: 18px; *!*/
/*  padding: 17px;*/
/*  background-color: #dddddd;*/
/*  margin-right: 10px;*/
/*  box-shadow: 0 0 20px rgba(34, 36, 38, .15);*/
/*  padding-left: 10px;*/
/*  padding-right: 10px;*/
/*}*/

/*mat-grid-list.mat-grid-list mat-toolbar.mat-toolbar.mat-toolbar-single-row {*/
/*  background: #e9e9e9;*/
/*  padding-left: 26px;*/
/*  height: 40px;*/
/*  padding-top: 36px;*/
/*  margin-bottom: 8px;*/
/*}*/

/*mat-grid-list.mat-grid-list mat-toolbar.mat-toolbar.mat-toolbar-single-row > span {*/
/*  padding: 0 !important;*/
/*  margin-left: -20px;*/
/*  margin-top: -36px;*/
/*}*/


/*mat-card-content.mat-card-content {*/
/*  !* width: 276px; *!*/
/*  height: 76px;*/
/*  text-align: center;*/
/*}*/

/*.mat-grid-tile {*/
/*  overflow: visible !important;*/
/*  !* margin-left: -11px; *!*/
/*}*/

mat-card.mat-card.mat-focus-indicator.example-card {
  margin-right: 10px;
}

.cardlayout{
padding-left:0;
padding-right:0;
}

.mat-card-header > .mat-card-header-text {
  margin: 0 !important;
}



.mat-card {
  width: 100%;
  margin: 7px;
  /* background: url(https://img.freepik.com/free-vector/abstract-design-blue-background_23-2148497489.jpg?size=626&ext=jpg); */
  background-color: #ffffff;
  color: rgba(0, 0, 0, .87);
  background-attachment: fixed;
  background-position: center;
  background-repeat: round;
  background-size: 680px 825px;
  color: #000000;
  padding-bottom: 104px;
}



.matright {
  float: right;
  margin-top: 35px;
}



.mat-card:hover {
  background-color: #bfbfbf63;
}



