<div class="container " fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
     fxLayoutAlign="center">
  <div fxFlex="100%">
    <mat-toolbar>
      <mat-icon class="allArrowBack" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.snmp.backToPointImport').substring(0,5): ''}}" onclick="goBack()">
        <i class="fa fa-chevron-left"></i>
      </mat-icon>
      <span>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.heading.alertList'): ""}}</span>
      <div class="containerInfo">
        <mat-form-field>
          <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.search'): ""}}</mat-label>
          <input [(ngModel)]="searchAlertList" (keyup)="filterAlertList($event)" matInput name="searchPublisher"
                 placeholder="Search...">
          <mat-icon class="Input_search" (click)="filterAlertList($event)" matSuffix>search</mat-icon>
        </mat-form-field>
        <mat-icon class="info_position" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.system.dataPurge.informationAlarmsPurge').substring(0,11): ''}}" aria-hidden="false" aria-label="error_outline icon" (click)="alertListHelp()">
          error_outline
        </mat-icon>
      </div>

    </mat-toolbar>
  </div>
</div>


<div class="container  width-100" fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5% grid"
     fxLayoutAlign="left">
  <div fxFlex="22%" class="card_margin" *ngFor="let alertList of alertLists ">
    <mat-card class=" all_card matCardAll">
      <mat-card-header class="">
        <mat-card-title class="cardTitleName">  {{alertList.name}}</mat-card-title>
        <mat-card-subtitle class="card_icon_right">
          <mat-icon aria-hidden="false" aria-label=" published_with_changes icon" >wifi</mat-icon>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>

      <mat-card-actions class="mat_right_icons ">
        <mat-icon title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.icon.hover.edit'): ''}}" class="allIcons"
                  (click)="showAlertDetails(alertList, alertListSideNav)">edit
        </mat-icon>
        <mat-icon title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.icon.hover.delete'): ''}}" class="allIcons"
                  (click)="deleteAlert(alertList)">delete
        </mat-icon>
      </mat-card-actions>
    </mat-card>

  </div>
</div>

<mat-drawer-container class="sidebar_position" autosize [hasBackdrop]="'true'">
  <mat-drawer #alertListSideNav class="singleSidebars "
               mode="push" position="end">
    <mat-icon class="allCloseOptions" aria-hidden="false" id="alertlist_side" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.button.close'): ''}}"
              (click)="alertlist_side(alertListSideNav)" aria-label="close icon">
      close
    </mat-icon>
    <button mat-raised-button class="Save_Button cancelAllData top-54"
            (click)="alertlist_side(alertListSideNav)">
      {{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.cancel') | uppercase) : ""}}
    </button>
    <template #dynamicLoadComponent>
    </template>
  </mat-drawer>

</mat-drawer-container>

<div class="addIcon">
  <mat-icon mat-button (click)="addNewAlert(alertListSideNav)" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.title.add.alertList'): ''}}">library_add</mat-icon>
  </div>
