<mat-card class="form_cards mqttMainContainer">
  <mat-toolbar class="mat-toolbar mat-toolbar_all details-toolbar mat-toolbar-single-row">
    <mat-card-title class="sidebar_form_title matCardTitles">
      {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.menu.systemSettings.platformIntegration'): ""}} <small *ngIf="integrationSenderTitle">{{integrationSenderModel.name}}</small>
    </mat-card-title>
    <span class="spacer"></span>
    <button (click)="savePlatform()" *ngIf="!isEdit" class="toolbarSaveButton bacnetUpdate saveButton"
            matfab>
            <mat-icon>save</mat-icon>
            {{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.save') |  uppercase) : "" }}
    </button>
    <button (click)="updatePlatform()"  *ngIf="isEdit" class="toolbarUpdateButton saveButton bacnetUpdate"
            matfab>
             <mat-icon>save_as</mat-icon>
            {{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.update') | uppercase) : ""}}
    </button>
  </mat-toolbar>
  <mat-card-content class="form_cards form_edit_card">
    <div [hidden]="!messageError">
      <mat-card class="validation-error">
        <li *ngFor="let er of error">{{er.property}}
          : {{er.message}}</li>
      </mat-card>
    </div>
    <mat-tab-group>
      <mat-tab label="Basic">
        <ng-template matTabContent>
          <br>
          <form class="allFormsSize mqttFormProperties">

              <mat-form-field class="w-50 mqttInputAlign" appearance="fill">
                <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.name'): ""}}</mat-label>
                <input  matInput name="name" [(ngModel)]="integrationSenderModel.name" placeholder="Enter Name" type="text"
                        required>
              </mat-form-field>

              <mat-form-field class=" w-50" appearance="fill">
                <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.placeholder.exportId'): ""}}</mat-label>
                <input [(ngModel)]="integrationSenderModel.xid"  class="" matInput disabled  name="xid" >
              </mat-form-field>

            <mat-form-field class="w-50 mqttInputAlign" appearance="fill">
              <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.publisher.placeholder.enterCacheWarningSize'): ""}}
              </mat-label>
              <input [(ngModel)]="integrationSenderModel.cacheWarningSize"  matInput name="cacheWarningSize" required>
            </mat-form-field>

            <mat-form-field class=" w-50" appearance="fill">
              <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.publisher.placeholder.enterCacheDiscardSize'): ""}}
              </mat-label>
              <input [(ngModel)]="integrationSenderModel.cacheDiscardSize"  matInput name="cacheDiscardSize"
                     placeholder="Enter CacheDiscardsize" required>
            </mat-form-field>

 
<mat-grid-list class="allGridcheckbox platformInteToggles marginTop-20" cols="2" rowHeight="30px">
              <mat-grid-tile class="mqttToggles ">
                <mat-slide-toggle [(ngModel)]="integrationSenderModel.gateway" name="sendSnapshot" class="side_form_toggle toggle_change"
                >
                  {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.publisher.placeholder.gateway'): ""}}
                </mat-slide-toggle>
          
           </mat-grid-tile>
              <mat-grid-tile class="mqttToggles">
                <mat-slide-toggle [(ngModel)]="integrationSenderModel.enabled" name="enabled" class="side_form_toggle toggle_change">
                  {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.enable'): ""}}
                </mat-slide-toggle>
            </mat-grid-tile>
            </mat-grid-list>
            <br>

            <mat-form-field class="w-50 mqttInputAlign" appearance="fill">
              <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.publisher.placeHolder.enterSnapshotSendPeriod'): ""}}
              </mat-label>
              <input [(ngModel)]="integrationSenderModel.snapshotSendPeriod.timePeriod"  matInput name="timePeriod"
                     placeholder="Enter SnapshotSendPeriod" required>
            </mat-form-field>

            <mat-form-field class=" w-50" appearance="fill">
              <mat-label> {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.placeholder.timePeriodType'): ""}}
              </mat-label>
              <mat-select [(ngModel)]="integrationSenderModel.snapshotSendPeriod.timePeriodType"  name="timePeriodType">
                <mat-option *ngFor="let timePeriodType of dropdownData.snapShotPeriod" [value]="timePeriodType.key">
                  {{timePeriodType.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </ng-template>
      </mat-tab>

      <mat-tab label="Points" *ngIf="pointValues" >
        <div [hidden]=!viewDataPoint>
          <mat-form-field class="searchWidth serchInput marginLeft-10" appearance="fill">
            <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.table.dataPoints'): ""}}</mat-label>

            <input type="text"
                   class="autoSearchInput"
                   matInput
                   [formControl]="myControl"
                   (input)="onInputChange($event)"
                   [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption  #auto="matAutocomplete">
              <mat-option *ngFor="let dataPoint of dataPointModels | slice:0:50; let i=index"
                          (onSelectionChange)="deviceChange(dataPoint, $event)" [value]="dataPoint.extendedName">
                {{dataPoint.extendedName}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <span *ngIf="showDataPointFields" class="changedropDowns">
           <div class="m-0">
                     <mat-form-field class="field_margin w-50" appearance="fill">
                 <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.mqtt.placeHolder.publishTopic'): ""}}
               </mat-label>
              <input  name="publishTopic" [(ngModel)]="integrationPointModel.publishTopic"  matInput>
            </mat-form-field>

                     <mat-form-field class="form_field w-50" appearance="fill">
                   <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.mqtt.placeHolder.publishTopicType'): ""}}
                  </mat-label>
                       <mat-select class="form-control" name="publishTopicType" [(ngModel)]="integrationPointModel.publishTopicType">
                                    <mat-option *ngFor="let publishTopicType of publisherTopicType"
                                                [value]="publishTopicType.key">
                            {{publishTopicType.value}}
                       </mat-option>
                    </mat-select>
                 </mat-form-field>
            </div>

                  <mat-form-field class="field_margin w-50" appearance="fill">
                    <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.mqtt.placeHolder.subscribeTopic'): ""}}
                      </mat-label>
                   <input matInput name="subscribeTopic" [(ngModel)]="integrationPointModel.subscribeTopic">
                      </mat-form-field>

                          <mat-form-field class="form_field w-50" appearance="fill">
                        <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.mqtt.placeHolder.subscribeTopicType'): ""}}
                        </mat-label>
                           <mat-select class="form-control" name="subscribeTopicType" [(ngModel)]="integrationPointModel.subscribeTopicType">
                            <mat-option *ngFor="let subscribeTopicType of subscriberTopicType"
                                        [value]="subscribeTopicType.key">
                               {{subscribeTopicType.value}}
                         </mat-option>
                     </mat-select>
                   </mat-form-field>

               <div class="m-0">
               <mat-form-field class="form_field w-50" appearance="fill">
                   <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.mqtt.placeHolder.qosType'): ""}}</mat-label>
                   <mat-select class="form-control" name="publishQosType" [(ngModel)]="integrationPointModel.publishQosType">
                     <mat-option *ngFor="let publishQosType of qosType" [value]="publishQosType.key">
                               {{publishQosType.value}}
                    </mat-option>
               </mat-select>
             </mat-form-field>

            <mat-form-field class=" form_field  w-50" appearance="fill">
              <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.placeholder.name'): ""}}</mat-label>
              <input [(ngModel)]="integrationPointModel.name"   matInput name="name"
                     placeholder="Enter Name" type="text">
            </mat-form-field>
          </div>


            <mat-slide-toggle [(ngModel)]="integrationPointModel.enabled" class="toggle_change marginBottom-10 marginLeft-20"  name="enabled" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.httpSender.table.points.status'): ''}}"
            >
              {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.disabled'): ""}}/{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.enable'): ""}}
            </mat-slide-toggle>

             <br>
          <button  *ngIf="dataPointActions" (click)="saveDataPoint()"  align="end" class="publisherPoint mt-30 saveButton "
                   matfab>
                    <mat-icon>save</mat-icon>
                   {{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.save') |  uppercase) : ""}}
          </button>
          <button *ngIf="!dataPointActions" (click)="updateDataPoint()"
                  class="toolbarUpdateButton updateButton saveButton"
                  matfab>
                  <mat-icon>save_as</mat-icon>
                  {{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.update') | uppercase) : ""}}
          </button>
          <button (click)="cancel()"    align="end" color="warn" class="cancel_button_new cancelPoint"
                  mat-raised-button>{{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.cancel') | uppercase) : ""}}
          </button>
          <br>
          <br>
          </span>
        </div>
        <mat-divider class="mqqtDividers"></mat-divider>

        <div class="datapoint_table dataPointsAll">
          <mat-form-field>
            <mat-label> {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.search'): ""}}</mat-label>
            <input (keyup)="applyFilter($event)" [(ngModel)]="searchDatapoint" matInput name="searchDatapoint"
                   placeholder="Search...">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          &nbsp;
          <button  mat-button class="addDatapointsButton" (click)="addNewDatapoint()">
            <mat-icon inline=true>add_box</mat-icon>
            {{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.addNew') | uppercase): ""}}
          </button>
        </div>

        <div class="mat-elevation-z8">
          <mat-table mat-table  [dataSource]="dataSources" class="table_data dataPointsAllTable setValueWidth setAutoWidth px-0">
            <ng-container matColumnDef="position">
              <mat-header-cell *matHeaderCellDef class="max50"> {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.table.sno'): ""}} </mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index;" class="max50">{{i + 1}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="name" class="table_row">
              <mat-header-cell *matHeaderCellDef class="cells_title">
                {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.name'): ""}}
              </mat-header-cell>
              <mat-cell class="table_data" *matCellDef="let element"
                        title="{{element.name}}"> {{element.name}} </mat-cell>
            </ng-container>
            <!-- name Column -->
            <ng-container matColumnDef="publish_Topic" class="table_row">
              <mat-header-cell *matHeaderCellDef class="cells_title">
                {{UIDICTIONARY ? UIDICTIONARY.get('ui.mqtt.placeHolder.publishTopic'): ""}}
              </mat-header-cell>
              <mat-cell class="table_data" *matCellDef="let element"
                        title="{{element.publishTopic}}"> {{element.publishTopic}} </mat-cell>
            </ng-container>
            <!--data type column-->
            <ng-container matColumnDef="publish_Topic_type">
              <mat-header-cell *matHeaderCellDef class="cells_title">
                {{UIDICTIONARY ? UIDICTIONARY.get('ui.mqtt.placeHolder.publishTopicType'): ""}}
              </mat-header-cell>
              <mat-cell class="table_data" *matCellDef="let element"> {{element.publishTopicType}} </mat-cell>
            </ng-container>
            <!-- -->
            <ng-container matColumnDef="subscribe_Topic">
              <mat-header-cell *matHeaderCellDef class="cells_title">
                {{UIDICTIONARY ? UIDICTIONARY.get('ui.mqtt.placeHolder.subscribeTopic'): ""}}
              </mat-header-cell>
              <mat-cell class="table_data" *matCellDef="let element"> {{element.subscribeTopic}} </mat-cell>
            </ng-container>
            <!-- -->
            <ng-container matColumnDef="subscribe_Topic_type">
              <mat-header-cell *matHeaderCellDef class="cells_title"> {{UIDICTIONARY ? UIDICTIONARY.get('ui.mqtt.placeHolder.subscribeTopicType'): ""}}</mat-header-cell>
              <mat-cell class="table_data" *matCellDef="let element"
                        title="{{element.subscribeTopicType}}"> {{element.subscribeTopicType}} </mat-cell>
            </ng-container>
            <!--status column-->
            <ng-container matColumnDef="qos_Type">
              <mat-header-cell *matHeaderCellDef  class="cells_title maxWidth-60">
                {{UIDICTIONARY ? UIDICTIONARY.get('ui.mqtt.dropdown.qosType'): ""}}
              </mat-header-cell>
              <mat-cell class="table_data" *matCellDef="let element"> {{element.publishQosType}} </mat-cell>
            </ng-container>
            <!-- action Column -->
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef
                               class="cells_title">  {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.table.actions'): ""}}</mat-header-cell>
              <mat-cell *matCellDef="let element;  let i = index" class="table_data mqttCell">

                <mat-icon aria-hidden="false" class="allIcons" id="all_icons_one" aria-label="edit icon" (click)="edit(element)" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.icon.hover.edit'): ''}}"> edit </mat-icon>

                <mat-icon (click)="removeData(element)" aria-hidden="false" class="allIcons" aria-label="delete icon" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.icon.hover.delete'): ''}}"> delete </mat-icon>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>



