<mat-card class="form_cards">
  <!-- Title of an Card -->
  <mat-toolbar
    class="mat-toolbar mat-toolbar_all details-toolbar mat-toolbar-single-row">
    <mat-card-title class="sidebar_form_title matCardTitles">
      {{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.heading.profileSetting.relayController'): ""}}
      <small *ngIf="controllerNodeTitle">{{controllerNodeModel.name}}</small>
    </mat-card-title>
    <span class="spacer"></span>
  </mat-toolbar>
</mat-card>

<mat-card-content class="form_cards form_edit_card relayControllerNode">
  <form>
    <table width="100%" class="table_form small_device">
      <tr>
        <td>
          <mat-form-field class="form_field name_field">
            <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.table.tableColumn.Address'): ""}}</mat-label>
            <input matInput class="form-control" [(ngModel)]="controllerNodeModel.address" id="address"
                   minlength="1"
                   name="address" required type="text">
          </mat-form-field>
        </td>
      </tr>

      <mat-divider class="divider_all"></mat-divider>
      <tr>
        <span
          class="profile_headings headnodes"> {{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.profile.headings.nodeSettings'): ""}}</span>
      </tr>
      <tr>
        <td>
          <mat-form-field class="field_margin form_field" appearance="fill">
            <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.site'): ""}}</mat-label>
            <mat-select [(ngModel)]="nodeSettings.site" class="form-control" name="site">
              <mat-option *ngFor="let site of siteNameMapping" [value]="site.key">
                {{site.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>

        <td>
          <mat-form-field class="field_margin form_field" appearance="fill">
            <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.building'): ""}}</mat-label>
            <mat-select [(ngModel)]="nodeSettings.building" class="form-control" name="building">
              <mat-option *ngFor="let building of buildingNameMapping" [value]="building.key">
                {{building.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="field_margin form_field" appearance="fill">
            <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.floor'): ""}}</mat-label>
            <mat-select [(ngModel)]="nodeSettings.floor" class="form-control" name="floor">
              <mat-option *ngFor="let floor of floorNameMapping" [value]="floor.key">
                {{floor.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>

        <td>
          <mat-form-field class="field_margin form_field" appearance="fill">
            <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.zone'): ""}}</mat-label>
            <mat-select [(ngModel)]="nodeSettings.zone" class="form-control" name="zone">
              <mat-option *ngFor="let zone of zoneNameMapping" [value]="zone.key">
                {{zone.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="field_margin form_field" appearance="fill">
            <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.room'): ""}}</mat-label>
            <mat-select [(ngModel)]="nodeSettings.room" class="form-control" name="room">
              <mat-option *ngFor="let room of roomNameMapping" [value]="room.key">
                {{room.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </td>
        <td>
          <mat-form-field class="field_margin form_field" appearance="fill">
            <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.groups'): ""}}</mat-label>
            <mat-select [(ngModel)]="nodeSettings.group" class="form-control" name="group">
              <mat-option *ngFor="let group of groupNameMapping" [value]="group.key">
                {{group.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="form_field">
            <mat-label> {{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.holdTime'): ""}}</mat-label>
            <input matInput class="form-control" [(ngModel)]="nodeSettings.holdTime" id="holdTime"
                   minlength="1"
                   name="holdTime" required type="text">

          </mat-form-field>

        </td>
        <td>
          <mat-form-field class="field_margin form_field" appearance="fill">
            <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.table.tableColumn.nodeType'): ""}}</mat-label>
            <mat-select [(ngModel)]="nodeSettings.type" class="form-control" name="nodeType">
              <mat-option *ngFor="let nodeType of nodeTypes.keys()" [value]=nodeTypes.get(nodeType)>
                {{nodeType}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <mat-divider class="divider_all"></mat-divider>
      <tr class="height-30 displayBlock">
        <td>
          <mat-slide-toggle [(ngModel)]="isEnableHoldTimeOne" class="side_form_toggle toggle_change"
                            name="holdTimeOne">
            {{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.enableDoubleHoldTime'): ""}}
          </mat-slide-toggle>
        </td>
      </tr>
      <tr class="width-100 displayInlineBlock">
        <table [ngClass]="{'holdTimeOneEnabled': isEnableHoldTimeOne === true}"
               class="holdTimeOneDisabled marginTop-25">
          <app-hold-time-one-relay></app-hold-time-one-relay>
        </table>
      </tr>

      <mat-divider [ngClass]="{'displayholdTimeTwo': isEnableHoldTimeOne === false}"
                   class="divider_all"></mat-divider>
      <tr [ngClass]="{'displayholdTimeTwo': isEnableHoldTimeOne === false}"
          class="height-30 displayBlock">
        <td>
          <mat-slide-toggle [(ngModel)]="isEnableHoldTimeTwo" class="side_form_toggle toggle_change"
                            name="holdTimeTwo">
            {{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.enableTripleHoldTime'): ""}}
          </mat-slide-toggle>
        </td>
      </tr>
      <tr [ngClass]="{'displayholdTimeTwo': isEnableHoldTimeOne === false}" class="width-100 displayInlineBlock">
        <table [ngClass]="{'holdTimeTwoEnabled': isEnableHoldTimeTwo === true}"
               class="holdTimeTwoDisabled marginTop-25">
          <app-hold-time-two></app-hold-time-two>
        </table>
      </tr>
      <mat-divider class="divider_all"></mat-divider>
      <tr>
        <span
          class="profile_headings">{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.profile.config.occupancySettings'): ""}}</span>
      </tr>
      <tr class="height-30 displayBlock">
        <td>
          <mat-slide-toggle [(ngModel)]="isPirChecked" name="pir"
                            class="side_form_toggle toggle_change">
            {{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.enablePir'): ""}}
          </mat-slide-toggle>
        </td>
      </tr>
      <tr  class="width-60 displayInlineBlock">
        <table class="pirSettingsdesable marginTop-25"
               [ngClass]="{'pirSettingsEnabled': isPirChecked === true}">

          <app-pir-form></app-pir-form>
        </table>

      </tr>
      <div *ngIf="!isDisplayLux">
        <mat-divider class="divider_all"></mat-divider>
        <tr>
          <span
            class="profile_headings"> {{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.profile.headings.luxSettings'): ""}}</span>
        </tr>
        <tr class="height-30 displayBlock">
          <td>
            <mat-slide-toggle [(ngModel)]="isLuxChecked" name="lux"
                              class="side_form_toggle toggle_change">
              {{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.enableLux'): ""}}
            </mat-slide-toggle>
          </td>
        </tr>
        <tr class="width-60 displayInlineBlock">
          <table class="luxSettingsdesable marginTop-25"
                 [ngClass]="{'luxSettingsEnabled': isLuxChecked === true}">
            <app-lux-form></app-lux-form>
          </table>

        </tr>
      </div>
      <mat-divider class="form_devide address"
                   [ngClass]="{'addressEnabled': isEnoceanRelay === true}"></mat-divider>
      <tr class="address" [ngClass]="{'addressEnabled': isEnoceanRelay === true}">
        <span
          class="profile_headings"> {{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.profile.headings.switchSettings'): ""}}</span>
      </tr>
      <tr class="address height-30 displayBlock" [ngClass]="{'addressEnabled': isEnoceanRelay === true}">
        <td>
          <mat-slide-toggle [(ngModel)]="isSwitchChecked" name="switch"
                            class="side_form_toggle toggle_change">
            {{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.enableSwitch'): ""}}
          </mat-slide-toggle>
        </td>
      </tr>
      <tr class="address displayInlineBlock marginTop-20"
          [ngClass]="{'addressEnabled': isEnoceanRelay === true}">
        <table class="switchSettingsdesable marginTop-25"
               [ngClass]="{'switchSettingsEnabled': isSwitchChecked === true}">
          <app-switch-form></app-switch-form>
        </table>
      </tr>
      <mat-divider class="form_devide visibilityHidden"></mat-divider>
      <mat-divider class="divider_all"></mat-divider>
      <tr>
        <span
          class="profile_headings">{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.profile.config.bandSettings'): ""}}</span>
      </tr>
      <tr class="height-30 displayBlock">
        <td>
          <mat-slide-toggle [(ngModel)]="isBandChecked" name="band"
                            class="side_form_toggle toggle_change">
            {{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.enableBand'): ""}}
          </mat-slide-toggle>
        </td>
      </tr>
      <tr class="width-60 displayInlineBlock">
        <table class="bandSettingsdisable marginLeft-30"
               [ngClass]="{'bandSettingsEnabled': isBandChecked === true}">
          <app-band-settings></app-band-settings>
        </table>
      </tr>
    </table>
  </form>
</mat-card-content>
