<div class="deviceProfileMains mainProvisionGateway" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
    fxLayoutAlign="center">
    <div fxFlex="100%">
        <mat-toolbar>
          <mat-icon class="allArrowBack" [innerHTML]="commonService.getIconsBack()" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.snmp.backToPointImport').substring(0,5): ''}}" (click)="goBack()">
          </mat-icon>
            <span>{{UIDICTIONARY ? UIDICTIONARY.get('ui.platformIntegration.deviceConfiguration'): ""}} </span>

          <div class="containerInfo">
            <button mat-raised-button align="center" class="deviceProfileButton" (click)="sinkThingsBoard()">
              Sync Now
            </button>
            <mat-form-field class="mt-10">
              <mat-label> {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.placeholder.search'): ""}}</mat-label>
              <input matInput name="searchBacnetList" (keyup)="applyFilter($event)"  placeholder="" #input
                     >
              <mat-icon class="Input_search" (click)="applyFilter($event)"  matSuffix>search</mat-icon>
            </mat-form-field>
            &nbsp;
            <mat-icon class="info_position" aria-hidden="false" aria-label="error_outline icon">
              info_outline
            </mat-icon>
          </div>
        </mat-toolbar>
    </div>
</div>

<div class="deviceProfileTables" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
     fxLayoutAlign="center">

  <div fxFlex="100%" class="main_db">
    <div class="OverflowScroll">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8  tableHeader40 mt-10" style="width:100%"
             matSort>
        <ng-container matColumnDef="S.No." class="rowMat">
          <mat-header-cell class="tabl_heading commonReducesSize" *matHeaderCellDef
                           style="max-width: 5% !important;">
            {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.table.sno'): ""}}
          </mat-header-cell>
          <mat-cell class="commonReducesSize commonSingleReduces" *matCellDef="let element; let i = index;"
                    style="max-width: 5% !important;justify-content: center">{{ (paginator.pageIndex * paginator.pageSize) + i + 1 }}
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Name" class="rowMat">
          <mat-header-cell class="tabl_heading commonReducesSize commonSingleReducesTwo" *matHeaderCellDef
                           mat-sort-header style="max-width: 85% !important;">
            {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.name'): ""}}
          </mat-header-cell>
          <mat-cell (click)="editOpenForm(element)" class="commonReducesSize commonSingleReducesTwo" *matCellDef="let element"
                    style="max-width: 85% !important;justify-content: center"> {{element.name}}

          </mat-cell>
        </ng-container>

        <!-- Name Description -->
        <ng-container matColumnDef="Description" class="rowMat">
          <mat-header-cell class="tabl_heading commonReducesSize commonSingleReducesTwo" *matHeaderCellDef
                           mat-sort-header style="max-width: 85% !important;">
            {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.httpSender.table.description'): ""}}
          </mat-header-cell>
          <mat-cell class="commonReducesSize commonSingleReducesTwo" *matCellDef="let element"
                    style="max-width: 85% !important;justify-content: center"> {{element.description}}

          </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="Actions" class="rowMat">
          <mat-header-cell class="tabl_heading commonReducesSize commonSingleReduces" *matHeaderCellDef mat-sort-header
                           style="max-width: 10% !important;">
            {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.table.actions'): ""}}
          </mat-header-cell>
          <mat-cell class="commonReducesSize commonSingleReduces" *matCellDef="let element"
                    style="max-width: 10% !important;">
            <mat-icon (click)="editOpenForm(element)" class="allIcons"  matSuffix title="edit">edit</mat-icon>
            <mat-icon (click)="deviceRemove(element)" class="allIcons"  matSuffix title="delete" aria-hidden="false" >delete</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </table>
    </div>
  </div>
</div>
<div class="pagination_fixed">
  <mat-paginator class="pagination_all" [pageIndex]=0 [length]="platformIntegrationService.total" [pageSizeOptions]="pageSizeOptions"
                 [pageSize]=limit (page)="getNextPage($event)"></mat-paginator>
</div>


<mat-drawer-container class="container-size sidebar_position" autosize disableClose>
    <mat-drawer #deviceDrawer class="sidenav singleSidebars" mode="push" position="end">
        <mat-icon class=" allCloseOptions" aria-hidden="false" id="datasource_side" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.button.close'): ''}}" (click)="allClose($event)"
            aria-label="close icon">
            {{UIDICTIONARY  ? (UIDICTIONARY.get('ui.core.common.button.close')| uppercase) : ""}}
        </mat-icon>
      <button (click)="allClose($event)" mat-raised-button class="Save_Button cancelAllData top-54">
        {{UIDICTIONARY  ? (UIDICTIONARY.get('ui.core.common.button.cancel') | uppercase) : ""}}
      </button>
        <app-device-configuration-form (allClose)="allClose($event)">
        </app-device-configuration-form>
    </mat-drawer>
</mat-drawer-container>


<div  class="addIcon allAddIconFixed">
    <mat-icon mat-button (click)="addNew($event)" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.title.add.deviceConfig'): ''}}">library_add</mat-icon>
</div>
