<mat-card class="form_cards">
  <!-- Title of an Card -->
  <mat-toolbar
    class="mat-toolbar mat-toolbar_all details-toolbar mat-toolbar-single-row">
    <mat-card-title class="sidebar_form_title matCardTitles">
      {{UIDICTIONARY ?
      UIDICTIONARY.get('ui.lightCommissioning.heading.profileSetting.ledController'): ""}}
      <small *ngIf="hideProfileTitle">{{controllerProfile.name}}</small>
    </mat-card-title>
    <span class="spacer"></span>
    <button (click)="saveProfile()" *ngIf="!isEdit" align="end" class="Top_Save_Button bacnetUpdate topRightButton"
            mat-raised-button>{{UIDICTIONARY ?
      (UIDICTIONARY.get('ui.core.common.button.save') |  uppercase):""}}</button>
    <button (click)="updateProfile()" *ngIf="isEdit" align="end" class="Top_Update_Button bacnetUpdate toolbarUpdateButton"
            mat-raised-button>{{UIDICTIONARY ?
      (UIDICTIONARY.get('ui.core.common.button.update') | uppercase):""}}
    </button>
  </mat-toolbar>
</mat-card>
<mat-card-content class="form_cards form_edit_card ledControllerMain">
  <div [hidden]="!messageError">
    <mat-card class="validation-error">
      <li *ngFor="let err of ledControllerProfileError">{{err.property}}
        : {{err.message}}
      </li>
    </mat-card>
  </div>
  <form class="TextAlign allFormSize ">

      <mat-form-field appearance="fill" class="form_field name_field w-50 marginTop-20">
        <mat-label>{{UIDICTIONARY ?
          UIDICTIONARY.get('ui.core.common.fields.name'): ""}}</mat-label>
        <input [(ngModel)]="controllerProfile.name" class="form-control" id="name" matInput minlength="1"
               name="name" required type="text">
      </mat-form-field>

      <mat-form-field appearance="fill" class="form_field w-50">
        <mat-label> {{UIDICTIONARY ?
          UIDICTIONARY.get('ui.core.common.fields.readPermission'): ""}}</mat-label>
        <mat-select [(ngModel)]="readPermission" multiple name="readPermission">
          <mat-option *ngFor="let read of permissions" [value]="read">{{read}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="form_field w-50 mr-0">
        <mat-label> {{UIDICTIONARY ?
          UIDICTIONARY.get('ui.core.common.fields.editPermission'): ""}}</mat-label>
        <mat-select [(ngModel)]="editPermission" multiple name="editPermission">
          <mat-option *ngFor="let write of permissions" [value]="write">{{write}}</mat-option>
        </mat-select>
      </mat-form-field>

    <mat-divider></mat-divider>
    <p>
      <span class="profileNodeSettings headnodes"> {{UIDICTIONARY ?
        UIDICTIONARY.get('ui.lightCommissioning.profile.headings.nodeSettings'): ""}}</span>
    </p>

      <mat-form-field appearance="fill" class="field_margin form_field w-50 mt-10">
        <mat-label> {{UIDICTIONARY ?
          UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.site'): ""}}</mat-label>
        <mat-select [(ngModel)]="nodeSettings.site" class="form-control" name="site">
          <mat-option *ngFor="let site of siteNameMapping" [value]="site.key">
            {{site.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="field_margin form_field w-50 mr-0">
        <mat-label> {{UIDICTIONARY ?
          UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.building'): ""}}</mat-label>
        <mat-select [(ngModel)]="nodeSettings.building" class="form-control" name="building">
          <mat-option *ngFor="let building of buildingNameMapping" [value]="building.key">
            {{building.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="field_margin form_field w-50">
        <mat-label> {{UIDICTIONARY ?
          UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.floor'): ""}}</mat-label>
        <mat-select [(ngModel)]="nodeSettings.floor" class="form-control" name="floor">
          <mat-option *ngFor="let floor of floorNameMapping" [value]="floor.key">
            {{floor.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="field_margin form_field w-50 mr-0">
        <mat-label> {{UIDICTIONARY ?
          UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.room'): ""}}</mat-label>
        <mat-select [(ngModel)]="nodeSettings.room" class="form-control" name="room">
          <mat-option *ngFor="let room of roomNameMapping" [value]="room.key">
            {{room.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="field_margin form_field w-50">
        <mat-label> {{UIDICTIONARY ?
          UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.zone'): ""}}</mat-label>
        <mat-select [(ngModel)]="nodeSettings.zone" class="form-control" name="zone">
          <mat-option *ngFor="let zone of zoneNameMapping" [value]="zone.key">
            {{zone.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="field_margin form_field w-50 mr-0">
        <mat-label> {{UIDICTIONARY ?
          UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.groups'): ""}}</mat-label>
        <mat-select [(ngModel)]="nodeSettings.group" class="form-control" name="group">
          <mat-option *ngFor="let group of groupNameMapping" [value]="group.key">
            {{group.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form_field w-50">
        <mat-label> {{UIDICTIONARY ?
          UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.holdTime'): ""}}</mat-label>
        <input [(ngModel)]="nodeSettings.holdTime" class="form-control" id="holdTime" matInput minlength="1"
               name="holdTime" required type="text">
      </mat-form-field>
      <mat-form-field class="field_margin form_field w-50 mr-0" appearance="fill">
        <mat-label> {{UIDICTIONARY ?
          UIDICTIONARY.get('ui.lightCommissioning.table.tableColumn.nodeType'): ""}}</mat-label>
        <mat-select [(ngModel)]="nodeSettings.type" class="form-control" name="nodeType"
                    (selectionChange)="enoceanRelay($event)">
          <mat-option *ngFor="let nodeType of nodeTypesArray" [value]="nodeType[1]">
            {{nodeType[0]}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form_field w-50">
        <mat-label> {{UIDICTIONARY ?
          UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.wattage'): ""}}</mat-label>
        <input [(ngModel)]="nodeSettings.wattage" class="form-control" id="wattage" matInput minlength="1"
               name="wattage" required type="text">
      </mat-form-field>
      <mat-form-field class="field_margin form_field w-50 mr-0" appearance="fill">
        <mat-label> {{UIDICTIONARY ?
          UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.curveDimTime'):""}}</mat-label>
        <mat-select [(ngModel)]="nodeSettings.curveDimTime" class="form-control" name="curveDimTime">
          <mat-option *ngFor="let curveDimType of curveDimTimeType" [value]=curveDimType.key>
            {{curveDimType.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <mat-divider></mat-divider>
    <p>
      <span class="retranmissionSettings"> {{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.profile.headings.retransmission'):""}}</span>
    </p>
    <br>
    <app-retransmissionp-settings></app-retransmissionp-settings>

    <mat-divider></mat-divider>
    <div class="height-30 displayBlock">
      <mat-slide-toggle (change)="enableHoldTimeOne($event)" [(ngModel)]="isEnableHoldTimeOne"
                        class="side_form_toggle toggle_change"
                        name="holdTimeOne">
        {{UIDICTIONARY ?
        UIDICTIONARY .get('ui.lightCommissioning.profile.fields.placeholder.enableDoubleHoldTime'): ""}}
      </mat-slide-toggle>
    </div>
    <div class="displayInlineBlock width-100">
      <div [ngClass]="{'holdTimeOneEnabled': isEnableHoldTimeOne === true}" class="holdTimeOneDisabled marginTop-25">
        <app-hold-time-one></app-hold-time-one>
      </div>
    </div>
    <mat-divider [ngClass]="{'displayholdTimeTwo': isEnableHoldTimeOne === false}"></mat-divider>
    <div [ngClass]="{'displayholdTimeTwo': isEnableHoldTimeOne === false}" class="height-30 displayBlock">
      <mat-slide-toggle (change)="enableHoldTimeTwo($event)" [(ngModel)]="isEnableHoldTimeTwo"
                        class="side_form_toggle toggle_change"
                        name="holdTimeTwo">
        {{UIDICTIONARY ?
        UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.enableTripleHoldTime'): ""}}
      </mat-slide-toggle>
    </div>
    <div [ngClass]="{'displayholdTimeTwo': isEnableHoldTimeOne === false}" class="width-100 displayInlineBlock">
      <div [ngClass]="{'holdTimeTwoEnabled': isEnableHoldTimeTwo === true}" class="holdTimeTwoDisabled marginTop-25">
        <app-hold-time-two></app-hold-time-two>
      </div>
    </div>
    <mat-divider></mat-divider>

      <span
        class="profile_headings"> {{UIDICTIONARY ?
        UIDICTIONARY.get('ui.lightCommissioning.profile.config.occupancySettings'): ""}}</span>

    <div class="height-30 displayBlock">
      <mat-slide-toggle (change)="enablePir($event)" [(ngModel)]="isChecked" class="side_form_toggle toggle_change"
                        name="pir">
        {{UIDICTIONARY ?
        UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.enablePir'): ""}}
      </mat-slide-toggle>
    </div>
    <div class="width-100 displayInlineBlock">
      <div [ngClass]="{'pirSettingsEnabled': isChecked === true}" class="pirSettingsdesable" class="marginTop-25">
        <app-pir-form (isThresholdMaxAndMin)="enableThresholdMaxAndMin($event)"></app-pir-form>
      </div>
    </div>
    <mat-divider></mat-divider>
    <p>
      <span
        class="profile_headings mt-20"> {{UIDICTIONARY ?
        UIDICTIONARY.get('ui.lightCommissioning.profile.headings.luxSettings'): ""}}</span>
    </p>
    <div>
      <mat-slide-toggle (change)="enableLux($event)" [(ngModel)]="isCheckedLux" class="side_form_toggle toggle_change height-30 displayBlock"
                        name="lux">
        {{UIDICTIONARY ?
        UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.enableLux'): ""}}
      </mat-slide-toggle>
    </div>
    <div>
      <div [ngClass]="{'displaylux': isCheckedLux === true}" class="luxSettingsdesable marginTop-25">
        <app-lux-form [isThresholdMaxAndMin]="isThresholdMaxAndMin"></app-lux-form>
      </div>
    </div>
    <mat-divider [ngClass]="{'addressEnabled': isEnoceanRelay === true}" class="form_devide address"></mat-divider>
    <p [ngClass]="{'addressEnabled': isEnoceanRelay === true}" class="address">
      <span
        class="profile_headings"> {{UIDICTIONARY ?
        UIDICTIONARY.get('ui.lightCommissioning.profile.headings.switchSettings'): ""}}</span>
    </p>
    <div [ngClass]="{'addressEnabled': isEnoceanRelay === true}" class="address height-30 displayBlock">
      <mat-slide-toggle (change)="enableSwitch($event)" [(ngModel)]="isCheckedSwitch"
                        class="side_form_toggle toggle_change"
                        name="switch">
        {{UIDICTIONARY ?
        UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.enableSwitch'): ""}}
      </mat-slide-toggle>
    </div>
    <div [ngClass]="{'addressEnabled': isEnoceanRelay === true}" class="address displayInlineBlock marginTop-20">
      <div [ngClass]="{'switchSettingsEnabled': isCheckedSwitch === true}" class="switchSettingsdesable marginTop-25 paddingBottom-35">
        <app-switch-form></app-switch-form>
      </div>
    </div>
    <mat-divider></mat-divider>
    <tr>
      <span
        class="profile_headings"> {{UIDICTIONARY ?
        UIDICTIONARY.get('ui.lightCommissioning.profile.config.bandSettings'): ""}}</span>
    </tr>
    <tr>
      <td>
        <mat-slide-toggle (change)="enableBand($event)" [(ngModel)]="isCheckedBand"
                          class="side_form_toggle toggle_change"
                          name="band">
          {{UIDICTIONARY ?
          UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.enableBand'): ""}}
        </mat-slide-toggle>
      </td>
    </tr>
    <tr class="width-60 displayInlineBlock">
      <table [ngClass]="{'bandSettingsEnabled': isCheckedBand === true}" class="bandSettingsdisable marginTop-25">
        <app-band-settings></app-band-settings>
      </table>
    </tr>
    <br>
  </form>
</mat-card-content>
