<div class="container headinglayout" fxLayout="row" fxLayout.xs="column" fxLayoutWrap
     fxLayoutGap="0.5%"
     fxLayoutAlign="center">
  <div fxFlex="100%">
    <mat-toolbar>
      <mat-icon class="allArrowBack" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.snmp.backToPointImport').substring(0,5): ''}}" onclick="goBack()">
        <i class="fa fa-chevron-left"></i>
      </mat-icon>
      <span>{{UIDICTIONARY ? UIDICTIONARY.get("ui.meshConsole.configuration"): ""}}</span>
      <div class="containerInfo">
        <mat-icon aria-hidden="false" class="info_position" aria-label="error_outline icon">
          error_outline
        </mat-icon>
      </div>
    </mat-toolbar>
  </div>
</div>

<div class="container cardlayout width-100" fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap
     fxLayoutGap="0.5% grid"
     fxLayoutAlign="left">
  <div fxFlex="22%" class="card_margin">
    <mat-card class="mat-card all_card matCardAll">
      <mat-card-header>
        <mat-card-title class="cardTitleName">{{UIDICTIONARY ? UIDICTIONARY.get(
          "ui.meshConsole.configuration.meshSettings"): ""}}</mat-card-title>
        <mat-card-subtitle class="card_icon_right">
          <mat-icon aria-hidden="false" aria-label="supervisor_account icon">
            settings_input_antenna
          </mat-icon>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-card-actions class="mat_right_icons">
        <mat-icon aria-hidden="false"
                  title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.icon.hover.add'): ''}}"
                  (click)="addMesh('config', configDrawer)"
                  class="allIcons"
                  aria-label="edit icon">
          add
        </mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>


  <div fxFlex="22%" class="card_margin">
    <mat-card class="mat-card all_card matCardAll">
      <mat-card-header>
        <mat-card-title class="cardTitleName">{{UIDICTIONARY ? UIDICTIONARY.get(
          "ui.meshConsole.configuration.sinkSettings"): ""}}</mat-card-title>
        <mat-card-subtitle class="card_icon_right">
          <mat-icon aria-hidden="false" aria-label="supervisor_account icon">
            perm_data_setting
          </mat-icon>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-card-actions class="mat_right_icons">
        <mat-icon aria-hidden="false"
                  title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.icon.hover.add'): ''}}"
                  (click)="addMesh('sink-setting', configDrawer)"
                  class="allIcons"
                  aria-label="edit icon">
          add
        </mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="22%" class="card_margin">
    <mat-card class="mat-card all_card matCardAll">
      <mat-card-header>
        <mat-card-title class="cardTitleName">{{UIDICTIONARY ? UIDICTIONARY.get(
          "ui.meshConsole.configuration.diagnosticSettings"): ""}}</mat-card-title>
        <mat-card-subtitle class="card_icon_right">
          <mat-icon aria-hidden="false" aria-label="supervisor_account icon" >
            settings_input_component
          </mat-icon>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-card-actions class="mat_right_icons">
        <mat-icon aria-hidden="false"
                  title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.icon.hover.add'): ''}}"
                  (click)="addMesh('diagnostics-setting', configDrawer)" class="allIcons"
                  aria-label="edit icon">
          add
        </mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<mat-drawer-container class="container-size sidebar_position" autosize disableClose>
  <mat-drawer #configDrawer class="sidenav singleSidebars  configSide" mode="push" position="end">
    <mat-icon class=" allCloseOptions" aria-hidden="false" id="datasource_side" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.event.button.close'): ''}}"
              (click)="allClose()" aria-label="close icon">
      {{UIDICTIONARY ? (UIDICTIONARY.get("ui.core.common.button.close")|  uppercase) : ""}}
    </mat-icon>
    <button (click)="allClose()"  mat-raised-button
            class="Save_Button cancelAllData top-54">
      {{UIDICTIONARY ? (UIDICTIONARY.get("ui.core.common.button.cancel")|  uppercase) : ""}}
    </button>
    <app-load-pages (meshConsoleSidebar)="meshConsolesidebar($event)"></app-load-pages>
  </mat-drawer>
</mat-drawer-container>
