<div class="headinglayout" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
  fxLayoutAlign="center">
  <div fxFlex="100%">
    <mat-toolbar>
      <mat-icon class="allArrowBack" [innerHTML]="commonService.getIconsBack()" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.snmp.backToPointImport').substring(0,5): ''}}" (click)="goBack()">
      </mat-icon>
      <span>
        {{UIDICTIONARY ? UIDICTIONARY.get('ui.modbus.modbusController.configuration'): ""}}
      </span>
      <div class="containerInfo">
        <mat-form-field class="topSearchBoxes mt-10">
          <mat-label>
            {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.placeholder.search'): ""}}
          </mat-label>
          <input (keyup.enter)="filterConfig()" [(ngModel)]="searchConfig" matInput name="searchConfig">
          <mat-icon class="Input_search" (click)="filterConfig()" matSuffix>search</mat-icon>
        </mat-form-field>
        &nbsp;
        <mat-icon aria-hidden="false" class="info_position" aria-label="error_outline icon" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.system.dataPurge.informationAlarmsPurge').substring(0,11): ''}}">
          error_outline
        </mat-icon>
      </div>
    </mat-toolbar>
  </div>
</div>

<div class="cardlayout width-100" fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5% grid"
  fxLayoutAlign="left">
  <div fxFlex="22%" class="card_margin" *ngFor="let list of configList">
    <mat-card class="meshMainCardNew firmPushCard matCardAll marginTop-20">
      <mat-card-header>
        <mat-card-title class="card_title">{{list.name}}</mat-card-title>
        <mat-card-subtitle class="card_icon_right cardIconRight">
          <mat-icon class="rightIconsCards" aria-hidden="false" aria-label="visibility icon">
            visibility
          </mat-icon>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p> </p>
      </mat-card-content>
      <mat-card-actions class="mat_right_icons">
        <mat-icon aria-hidden="false" (click)="edit(list.id)" class="allIcons" aria-label="edit icon" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.icon.hover.edit'): ''}}">
          edit
        </mat-icon>
        <mat-icon aria-hidden="false" class="allIcons" aria-label="content copy icon" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.button.copy'): ''}}"
          (click)="copyConfigData(list)">
          content_copy
        </mat-icon>
        <mat-icon aria-hidden="false" (click)="delete(list)" class="allIcons" aria-label="delete icon"
          title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.icon.hover.delete'): ''}}">
          delete
        </mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div *ngIf="totalList > limit" class="pagination_fixed">
  <mat-paginator class="pagination_all" [pageIndex]=0 [length]="totalList" [pageSizeOptions]="pageSizeOptions" [pageSize]=limit
                 (page)="getNextPage($event)"></mat-paginator>
</div>


<mat-drawer-container class="sidebar_position" autosize disableClose>
  <mat-drawer #ConfigDrawer class="sidenav  singleSidebars" mode="push" position="end">
    <mat-icon aria-hidden="false" class="allCloseOptions" id="sidebarclose" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.button.close'): ''}}" (click)="sidebarClose($event)"
      aria-label="close icon">
      close
    </mat-icon>
    <button mat-raised-button  class="cancelAllData top-54" (click)="sidebarClose($event)">
      {{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.cancel')| uppercase) : ""}}
    </button>
    <app-config-form (sidebarClose)="sidebarClose($event)"></app-config-form>
  </mat-drawer>
</mat-drawer-container>

<div class="addIcon allAddIconFixed">
  <mat-icon mat-button (click)="addNewConfig($event)" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.title.add.modbusConfig'): ''}}">library_add</mat-icon>
  </div>
