<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <mat-checkbox [checked]="isChecked(node)"
                  (change)="selectedEventType(node, $event.checked)">{{node.item.description}}</mat-checkbox>
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button [attr.aria-label]="'Toggle ' + node.item" matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'remove' : 'add'}}
      </mat-icon>
    </button>
    {{node.item.description}}
  </mat-tree-node>
</mat-tree>
