<div class="container headinglayout deviceProfileMains" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
     fxLayoutAlign="center">
  <div fxFlex="100%">
    <mat-toolbar>
      <mat-icon class="allArrowBack" [innerHTML]="_commonService.getIconsBack()" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.snmp.backToPointImport').substring(0,5): ''}}" (click)="goBack()">
      </mat-icon>
      <span>{{"TOF Sensors"}} </span>

      <div class="containerInfo">
        <mat-form-field class="mt-10">
          <mat-label> {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.placeholder.search'): ""}}</mat-label>
          <input matInput name="searchBacnetList"   placeholder="" #input
          >
          <mat-icon class="Input_search"   matSuffix>search</mat-icon>
        </mat-form-field>
        &nbsp;
        <mat-icon class="info_position" aria-hidden="false" aria-label="error_outline icon">
          info_outline
        </mat-icon>
      </div>
    </mat-toolbar>
  </div>
</div>

<div class="container headinglayout deviceProfileTables" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
     fxLayoutAlign="center">

  <div fxFlex="100%" class="main_db">
    <div class="container-size OverflowScroll">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 addCn tableHeader40 mt-10" style="width:100%"
             matSort>
        <ng-container matColumnDef="S.No." class="rowMat">
          <mat-header-cell class="tabl_heading commonReducesSize" *matHeaderCellDef
                           style="max-width: 5% !important;">
            {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.table.sno'): ""}}
          </mat-header-cell>
          <mat-cell class="commonReducesSize " *matCellDef="let element; let i = index;"
                    style="max-width: 5% !important;justify-content: center">{{ (paginator.pageIndex * paginator.pageSize) + i + 1 }}
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Address" class="rowMat">
          <mat-header-cell class="tabl_heading commonReducesSize " *matHeaderCellDef
                           mat-sort-header>
            {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.placeholder.slBus.nodeAddress'): ""}}
          </mat-header-cell>
          <mat-cell  class="commonReducesSize " *matCellDef="let element"
          style="justify-content: center"> {{element.address}}

          </mat-cell>
        </ng-container>

        <!-- Name Description -->
        <ng-container matColumnDef="Name" class="rowMat">
          <mat-header-cell class="tabl_heading commonReducesSize " *matHeaderCellDef
                           mat-sort-header >
            {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.name'): ""}}
          </mat-header-cell>
          <mat-cell class="commonReducesSize " *matCellDef="let element"
                    style="justify-content: center"> {{element.name}}

          </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="Actions" class="rowMat">
          <mat-header-cell class="tabl_heading commonReducesSize " *matHeaderCellDef mat-sort-header
          >
            {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.table.actions'): ""}}
          </mat-header-cell>
          <mat-cell class="commonReducesSize " *matCellDef="let element"  style="justify-content: center"
          >
            <mat-icon  class="allIcons" (click)="startActions(element, 'powerONOFF')"  matSuffix title="Data Transfer">schedule_send</mat-icon>

          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </table>
    </div>
  </div>
</div>
<div class="pagination_fixed">
  <mat-paginator class="pagination_all" [pageIndex]=0 [length]="_tofService.total" [pageSizeOptions]="pageSizeOptions"
                 [pageSize]=limit (page)="getNextPage($event)"></mat-paginator>
</div>



