<mat-card class="form_cards httpReceivers">
  <mat-toolbar class="mat-toolbar_all mat-toolbar details-toolbar mat-toolbar-single-row">
    <mat-card-title class="sidebar_form_title matCardTitles">
      {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.heading.datasource.httpReceiver'): ""}}
      <small *ngIf="isActivePdSmall">{{datasourceTitleName}}</small>
    </mat-card-title>
  </mat-toolbar>

  <div class="mat-content">
    <div  *ngFor="let error of httpReceiverError" [hidden]="!messageError">
      <mat-card class="validation-error">
        <li>{{error.property}}
          : {{error.message}}</li>
      </mat-card>
    </div>
    <mat-tab-group animationDuration="0ms" [selectedIndex]="tabIndex" (selectedTabChange)="selectTab($event.index)">
      <mat-tab label="Properties" class="tab_Properties">
        <form class="sidebar-form">
          <p>
            <mat-form-field class="form_field modbusInputField w-50" appearance="fill">
              <mat-label>
                {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.name'): ""}}
              </mat-label>
              <input matInput [(ngModel)]="datasourceModel.name" name="name" type="text" required>
            </mat-form-field>
            <mat-form-field class="form_field w-50" appearance="fill">
              <mat-label>
                {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.editPermission'): ""}}
              </mat-label>
              <mat-select name="editPermission" [(ngModel)]="editPermission" multiple>
                <mat-option *ngFor="let read of dropdownData.permissions" [value]="read">{{read}}</mat-option>
              </mat-select>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="form_field" appearance="fill">
              <mat-label>
                {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.httpReceiver.field.placeholder.remoteIpWhiteList'): ""}}
              </mat-label>
              <input matInput [(ngModel)]="datasourceModel.ipWhiteList" #ip name="ipWhiteList" type="text">
            </mat-form-field>
            <button mat-mini-fab class="SibarCommonAddmoreButtons"
                    aria-label="icon button with a plus one icon">
              <mat-icon (click)="addIpToList(ip.value)" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.button.add'): ''}}">add</mat-icon>
            </button>

            <mat-form-field class="form_field" appearance="fill">
              <mat-label>
                {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.httpReceiver.field.placeholder.deviceIdWhiteList'): ""}}
              </mat-label>
              <input matInput [(ngModel)]="datasourceModel.deviceIdWhiteList" #deviceId name="deviceIdWhiteList"
                     type="text">
            </mat-form-field>
            <button mat-mini-fab class="SibarCommonAddmoreButtons"
                    aria-label="icon button with a plus one icon">
              <mat-icon (click)="addDeviceIdToList(deviceId.value)" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.button.add'): ''}}">add</mat-icon>
            </button>
          </p>

          <p>
            <mat-list role="list" class="matalList">
              <mat-list-item class="matlistItem" role="listitem" *ngFor="let val of ipList">{{val}}
                <mat-icon (click)="removeListValue(val)" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.httpSender.point.remove'): ''}}">remove</mat-icon>
              </mat-list-item>
            </mat-list>
          </p>

          <div *ngIf="!isEdit then save else update"></div>
          <ng-template #save>
            <button matfab class="saveButton" (click)="saveDatasource()">
              <mat-icon>save</mat-icon>
              {{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.save') |  uppercase) : ""}}
            </button>
          </ng-template>
          <ng-template #update>
            <button matfab class="updateButton saveButton" (click)="updateDatasource()">
              <mat-icon>save_as</mat-icon>
              {{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.update') | uppercase) : ""}}
            </button>
          </ng-template>
        </form>
      </mat-tab>
      <mat-tab label="Points" [disabled]="!datapointFormName">
        <div class="sidebar-form" *ngIf="displayForm">
          <p>
            <mat-form-field class="form_field allInputsMargin w-50" appearance="fill">
              <mat-label>
                {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.placeholder.exportId'): ""}}
              </mat-label>
              <input [(ngModel)]="dataPointModel.xid" class="datasourceBoxHeight" readonly matInput name="xid" placeholder="Auto generated">
            </mat-form-field>
            <mat-form-field class="form_field w-50" appearance="fill">
              <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.name'): ""}}</mat-label>
              <input matInput [(ngModel)]="dataPointModel.name" name="name" type="text" required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="form_field allInputsMargin w-50" appearance="fill">
              <mat-label>
                {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.readPermission'): ""}}
              </mat-label>
              <mat-select name="readPermission" [(ngModel)]="readPermission" multiple>
                <mat-option *ngFor="let read of dropdownData.permissions" [value]="read">{{read}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="form_field  w-50" appearance="fill">
              <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.writePermission'): ""}}</mat-label>
              <mat-select name="editPermission" [(ngModel)]="setPermission" multiple>
                <mat-option *ngFor="let write of dropdownData.permissions" [value]="write">{{write}}</mat-option>
              </mat-select>
            </mat-form-field>
          </p>

          <mat-divider class="dividerAllCommonFields"></mat-divider>
         <br>
          <p>
            <mat-form-field class="form_field allInputsMargin w-50" appearance="fill">
              <mat-label>
                {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.httpSender.point.param'): ""}}
              </mat-label>
              <input matInput name="oid" [(ngModel)]="pointLocatorModel.parameterName">
            </mat-form-field>
            <mat-form-field class="form_field  w-50" appearance="fill">
              <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.dataType'): ""}}</mat-label>
              <mat-select name="dataType" [(ngModel)]="pointLocatorModel.dataType"
                          (selectionChange)="dataTypeChange($event.value)">
                <mat-option *ngFor="let dataType of dropdownData.dataTypes" [value]="dataType.key">{{dataType.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>
          <p *ngIf="binary">
            <mat-form-field class="form_field allInputsMargin w-50" appearance="fill">
              <mat-label>
                {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.httpSender.point.binary0Value'): ""}}
              </mat-label>
              <input matInput name="binary0Value" [(ngModel)]="pointLocatorModel.binary0Value">
            </mat-form-field>
          </p>
          <div>
            <div *ngIf="!datapointButtonsView then savePoint else updatePoint"></div>
            <ng-template #savePoint>
              <button matfab class="allDataPointSaveButton saveButton" (click)="saveDataPoint()">
                <mat-icon class="alignIocns">save</mat-icon>
                {{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.save') |  uppercase) : ""}}
              </button>
            </ng-template>
            <ng-template #updatePoint>
              <button matfab class="Update_Button saveButton" (click)="updateDataPoint()">
                 <mat-icon>save_as</mat-icon>
                {{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.update') | uppercase) : ""}}</button>
            </ng-template>
          </div>
          <button mat-raised-button (click)="cancelDataPoint()" class="cancel_button_new cancelPoint marginLeft-88">{{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.cancel') | uppercase) : ""}}</button>

        </div>
        <app-datapoint-table (editPoint)="editDataPoint($event)" (addPoint)="addNewDatapoint($event, 1)">
        </app-datapoint-table>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-card>
