<div class="container headinglayout" fxLayout="row" fxLayout.xs="column" fxLayoutWrap
     fxLayoutGap="0.5%"
     fxLayoutAlign="center">
  <div fxFlex="100%">
    <mat-toolbar>
      <mat-icon class="allArrowBack" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.snmp.backToPointImport').substring(0,5): ''}}" onclick="goBack()">
        <i class="fa fa-chevron-left"></i>
      </mat-icon>
      <span>{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.nodeSettings.heading.lightNodeSettings'): ""}}</span>
    </mat-toolbar>
  </div>
</div>
<div class="container cardlayout width-100 lightCommissioningSettingMain" fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap
     fxLayoutGap="0.5% grid"
     fxLayoutAlign="left">
  <div fxFlex="25%" class="cardSpacing">
    <mat-card class="mat-card all_card lightSettingsCards matCardAll">
      <mat-card-header>
        <mat-card-title
          class="cardTitleName allResponsiveText"> {{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.nodeSettings.heading.bacnetPublish'): ""}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="cardSpacings addSettingsCards settingCardAlign">
        <mat-form-field class="form_field bacNetFields" appearance="fill">
          <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.menu.localDevice'): ""}}</mat-label>
          <mat-select [(ngModel)]="localNetworkNumber" class="form-control" name="publishType">
            <mat-option *ngFor="let model of bacnetModel" [value]="model.id">
              {{model.deviceName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div title="This is readOnly" class="inputRead">
          <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.nodeSettings.heading.bacnetPublish'): ""}}</mat-label>
          <ul>
            <li>{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.nodeSettings.cards.param.lightNodes'): ""}}
              : {{publisherModel?.lightNodesOnBacnet}}</li>
            <li>{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.nodeSettings.cards.param.luxSensors'): ""}}
              : {{publisherModel?.luxSensorsOnBacnet}}</li>
            <li>{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.profile.headings.enoceanSwitches'): ""}}
              : {{publisherModel?.enoceanSwitchesOnBacnet}}</li>
            <li>{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.nodeSettings.cards.param.virtualSwitches'): ""}}
              : {{publisherModel?.virtualSwitchesOnBacnet}}</li>
          </ul>
        </div>
      </mat-card-content>
      <mat-card-actions class="mat_right_icons  settingsCardsIcons">
        <mat-icon aria-hidden="false" class="allIcons" aria-label="edit icon" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.nodeSettings.cards.button.hover.Publish'): ''}}"
                  (click)="publish()">
          publish
        </mat-icon>

      </mat-card-actions>
      <mat-icon aria-hidden="false" class="allIcons  settingsCardsIcons" aria-label="delete icon" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.icon.hover.delete'): ''}}"
                (click)="delete()">
        delete
      </mat-icon>
    </mat-card>
  </div>

  <div fxFlex="25%" class="cardSpacing">
    <mat-card class="mat-card all_card lightSettingsCards matCardAll">
      <mat-card-header>
        <mat-card-title
          class="cardTitleName allResponsiveText">{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.placeholder.uploadExcel'): ""}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="cardSpacings addSettingsCards settingCardAlign">
        <mat-form-field class="form_field bacNetFields" appearance="fill">
          <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.selectToAddProfile'): ""}}</mat-label>
          <mat-select  class="form-control" name="publishType">
            <mat-option *ngFor="let profileType of profileTypes" [value]="profileType"
                        (onSelectionChange)="addProfile($event, profileType.type)" >{{profileType.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div [class.readonly]="isReadOnly">
        <input  type="file" class="file-input mr-10" hidden  (change)="onFileSelected($event)" #fileUpload>
        <div class="file-upload uploadFileInput">
          {{fileName || "No file uploaded yet."}}
          <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
        </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="mat_right_icons  settingsCardsIcons">
        <mat-icon aria-hidden="false" class="allIcons" aria-label="edit icon" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.button.save'): ''}}"
                  (click)="fileUploads()">
          save
        </mat-icon>

      </mat-card-actions>
      <mat-icon  aria-hidden="false" class="allIcons iconVisibility" aria-label="delete icon" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.button.delete'): ''}}"
                (click)="delete()">

      </mat-icon>
    </mat-card>
  </div>
  <div fxFlex="25%" class="cardSpacing">
    <mat-card class="mat-card all_card lightSettingsCards matCardAll profilePushScheduler">
      <mat-card-header>
        <mat-card-title
          class="cardTitleName allResponsiveText">{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.profilePush.heading'): ""}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="cardSpacings settingCardAlign profilePushRead">
        <i class="material-icons iconsSettingsMat">settings_input_antenna</i>
      </mat-card-content>
      <div title="This is readOnly" class="inputRead profilePushRead">
        <mat-label>{{"Profile Push Scheduler"}}</mat-label>
        <ul>
          <li>{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.table.Commissioned'): ""}}
            : {{ProfilePushSettings?.lightCommissioningProfilePushScheduleRuntimeStats.commissioned}}</li>
          <li>{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.table.Discovered'): ""}}
            : {{ProfilePushSettings?.lightCommissioningProfilePushScheduleRuntimeStats.discovered}}</li>
          <li>{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.nodeStatus.Up'): ""}}
            : {{ProfilePushSettings?.lightCommissioningProfilePushScheduleRuntimeStats.up}}</li>
          <li>{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.nodeStatus.Down'): ""}}
            : {{ProfilePushSettings?.lightCommissioningProfilePushScheduleRuntimeStats.down}}</li>
          <li>{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.nodeType.normal').substring(0,6): ""}}
            : {{ProfilePushSettings?.lightCommissioningProfilePushScheduleRuntimeStats.normal}}</li>
          <li>{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.nodeType.enocean').substring(0,7): ""}}
            : {{ProfilePushSettings?.lightCommissioningProfilePushScheduleRuntimeStats.enocean}}</li>
          <li>{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.nodeType.sink').substring(0,4): ""}}
            : {{ProfilePushSettings?.lightCommissioningProfilePushScheduleRuntimeStats.sink}}</li>
          <li>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.heading.datasource.ledController'): ""}}
            : {{ProfilePushSettings?.lightCommissioningProfilePushScheduleRuntimeStats.ledController}}</li>
          <li>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.heading.datasource.relayController'): ""}}
            : {{ProfilePushSettings?.lightCommissioningProfilePushScheduleRuntimeStats.relayController}}</li>
          <li>{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.profile.fields.placeholder.diFourGrade').substring(0,2): ""}} {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.bacnet.fields.placeholder.controllerAddress').substring(0,10): ""}}
            : {{ProfilePushSettings?.lightCommissioningProfilePushScheduleRuntimeStats.diController}}</li>
          <li>MokoBand
            : {{ProfilePushSettings?.lightCommissioningProfilePushScheduleRuntimeStats.mokoBand}}</li>
          <li>{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.table.Total'): ""}}
            : {{ProfilePushSettings?.lightCommissioningProfilePushScheduleRuntimeStats.total}}</li>
          <li>{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.virtualSwitch.fields.placeholder.autoModeEnabled'): ""}}
            : {{ProfilePushSettings?.lightCommissioningProfilePushScheduleRuntimeStats.autoModeEnable}}</li>
          <li>{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.virtualSwitch.fields.placeholder.autoModeDisable'): ""}}
            : {{ProfilePushSettings?.lightCommissioningProfilePushScheduleRuntimeStats.autoModeDisable}}</li>
        </ul>
      </div>
      <mat-card-actions class="mat_right_icons  settingsCardsIcons">
        <mat-icon  aria-hidden="false" class="allIcons pushPin" aria-label="edit icon" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.button.push'): ''}}"
                  (click)="profilePushSettings($event)">
          push_pin
        </mat-icon>

      </mat-card-actions>
      <mat-icon  aria-hidden="false" class="allIcons iconVisibility" aria-label="delete icon" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.button.delete'): ''}}">
      </mat-icon>
    </mat-card>
  </div>
</div>

<mat-drawer-container class="container sidebar_position mainContainerSidebarProfiles" autosize disableClose>
  <mat-drawer #drawerPushSetting class="drawer_sidebar matDrawerSubContainer" mode="push" position="end">
    <button mat-raised-button class="Save_Button cancelAllDataSource" (click)="closeSidebar($event)">
      {{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.cancel') | uppercase) : ""}}
    </button>
    <app-profilepushsystem (profilePushSettings) = profilePushSettings($event) (closeSidebar)="closeSidebar($event)"></app-profilepushsystem>
  </mat-drawer>
</mat-drawer-container>
