
<mat-card class="form_cards ">
  <mat-toolbar
    class="mat-toolbar_all mat-toolbar details-toolbar mat-toolbar-single-row">
    <mat-card-title class="sidebar_form_title matCardTitles">
      {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.heading.datasource.assetTrackingBand'): ""}}
      <small>{{datasourceTitleName}}</small>
    </mat-card-title>
  </mat-toolbar>
  <div class="mat-content">
    <mat-tab-group animationDuration="0ms" [selectedIndex]="tabIndex" (selectedTabChange)="selectTab($event.index)">
      <mat-tab label="Properties" class="tab_Properties">
        <form class="sidebar-form">
          <div [hidden]="!messageError">
            <mat-card class="validation-error">
              <li>
                {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.messages.fillAllDetails'): ""}}
              </li>
              <li *ngFor="let err of error">{{err.property}}
                : {{err.message}}
              </li>
            </mat-card>
          </div>

            <mat-form-field class="w-50 allInputsMargin" appearance="fill">
              <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.name'): ""}}</mat-label>
              <input matInput name="name" [(ngModel)]="datasource.name" type="text" required>
            </mat-form-field>
            <mat-form-field class="w-50  marginTop" appearance="fill">
              <mat-label> {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.xid'): ""}}</mat-label>
              <input matInput name="xid" [(ngModel)]="datasource.xid" class="datasourceBoxHeight" type="text" readonly required>
            </mat-form-field>


            <mat-form-field class="w-50" appearance="fill">
              <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.editPermission'): ""}}</mat-label>
              <mat-select name="editPermission" [(ngModel)]="editPermission" multiple>
                <mat-option *ngFor="let read of permissions" [value]="read">{{read}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-divider></mat-divider>

          <br>
            <mat-form-field class="w-50 allInputsMargin marginTop" appearance="fill">
              <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.bacnet.fields.placeholder.address'): ""}}</mat-label>
              <input matInput name="Address" [(ngModel)]="datasource.address" type="text" required>
            </mat-form-field>

          <br>
            <mat-slide-toggle name="anchorNode" [(ngModel)]="datasource.anchorNode" (change)="onAnchorMode($event)"  class="side_form_toggle toggle_change allToggls">
              {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.dataSource.field.anchorNode'): ""}}
            </mat-slide-toggle>
            <br>
            <mat-form-field class="form_field conditionalInput" *ngIf="isAnchorOn" appearance="fill">
              <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.dataSource.field.location'): ""}}</mat-label>
              <input matInput [(ngModel)]="datasource.location" name="location" type="text">
            </mat-form-field>

          <br>
          <div *ngIf="!isEdit then save else update"></div>
          <ng-template #save>
            <button mat-raised-button class="saveButton"
                    (click)="saveDatasource()">{{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.save') |  uppercase) : ""}}</button>
          </ng-template>
          <ng-template #update>
            <button mat-raised-button class="updateButton"
                    (click)="updateDatasource()">{{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.update') | uppercase) : ""}}</button>
          </ng-template>
        </form>
      </mat-tab>
      <mat-tab label="Points" class="tab_points" [disabled]="!datapointFormName">
        <div class="sidebar-form" *ngIf="displayForm">
          <div id="pointErrorMsg" class="displayNone">
          </div>
          <div class="datapoint-form formDataPoint">

              <mat-form-field class="form_field  marginTop w-50" appearance="fill">
                <mat-label>  {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.name'): ""}}</mat-label>
                <input matInput name="name" [(ngModel)]="dataPoint.name" type="text" required>
              </mat-form-field>
              <mat-form-field class="form_field w-50 marginLeft-20" appearance="fill">
                <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.placeholder.exportId'): ""}}</mat-label>
                <input matInput name="xid" class="datasourceBoxHeight" [(ngModel)]="dataPoint.xid" type="text" readonly required>
              </mat-form-field>


              <mat-form-field class="form_field  w-50" appearance="fill">
                <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.dataType'): ""}}</mat-label>
                <mat-select placeholder="Data Type" [(ngModel)]="pointLocator.dataType" name="dataTypes" required>
                  <mat-option *ngFor="let item of dataTypes" [value]="item.key">
                    {{item.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field   class="form_field w-50 marginLeft-20" appearance="fill">
                <mat-label> {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.dataPoint.attribute'): ""}}</mat-label>
                <mat-select  placeholder="Attribute" [(ngModel)]="pointLocator.attributeId" name="attributeId" required>
                  <mat-option *ngFor="let attr of attributeCode" [value]="attr">
                    {{attr}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            <div class="meshActionsButtons">
              <div *ngIf="!datapointButtonsView then savePoint else updatePoint"></div>
              <ng-template #savePoint>
                <button mat-raised-button class="allDataPointSaveButton mupdateButton"
                        (click)=" saveDataPoint()">{{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.save') |  uppercase) : ""}}</button>
              </ng-template>
              <ng-template #updatePoint>
                <button mat-raised-button (click)="updateDataPoint()" class="Update_Button mupdateButton" >{{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.update') | uppercase) : ""}}</button>
              </ng-template>

            </div>
            <button mat-raised-button (click)="cancel()" class="cancel_button_new cancelPoint marginLeft-88">{{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.cancel') | uppercase) : ""}}</button>
          </div>
        </div>
        <app-datapoint-table (editPoint)="editDataPoint($event)" (addPoint)="addNewDatapoint($event, 1)">
        </app-datapoint-table>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-card>
