<mat-dialog-actions class="flex-end">
  <button  mat-fab class="cancelButtons stackCancel" color="accent" mat-dialog-close>
    <mat-icon>cancel</mat-icon>
  </button>
</mat-dialog-actions>
<table mat-table [dataSource]="stackData" class="mat-elevation-z8  stackTable width-100">
  <ng-container matColumnDef="S.No." class="table_row ">
    <mat-header-cell class="cells_title customSize"
                     *matHeaderCellDef> {{UIDICTIONARY ? UIDICTIONARY.get('ui.stackMonitor.table.sno'): ""}}</mat-header-cell>
    <mat-cell class="table_data customSize" *matCellDef="let element; let i = index;">{{i + 1}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Name" class="table_row">
    <mat-header-cell class="cells_title"
                     *matHeaderCellDef>{{UIDICTIONARY ? UIDICTIONARY.get('ui.stackMonitor.table.name'): ""}}</mat-header-cell>
    <mat-cell class="table_data" *matCellDef="let element;">{{element.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Value" class="table_row">
    <mat-header-cell class="cells_title"
                     *matHeaderCellDef> {{UIDICTIONARY ? UIDICTIONARY.get('ui.stackMonitor.table.value'): ""}}</mat-header-cell>
    <mat-cell class="table_data" *matCellDef="let element;">{{element.value}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>

