<div class="container headinglayout" fxLayout="row" fxLayout.xs="column" fxLayoutWrap
     fxLayoutGap="0.5%"
     fxLayoutAlign="center">
  <div fxFlex="100%">
    <mat-toolbar>
      <mat-icon class="allArrowBack" [innerHTML]="commonService.getIconsBack()" [title] title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.snmp.backToPointImport').substring(0,5): ''}}" (click)="goBack()">

      </mat-icon>
      <span> {{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.heading.commissioning'): ''}}</span>
      <div class="containerInfo">
      </div>
    </mat-toolbar>
  </div>
</div>

<div class="container cardlayout" fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap
     fxLayoutGap="0.5% grid"
     fxLayoutAlign="left">
  <div fxFlex="22%" class="card_margin allResponsiveCard" (click)="getProfileSettings();">
    <mat-card class="meshMainCardNew firmPushCard matCardAll marginTop-20">
      <mat-card-header>
        <mat-card-title
          class="cardTitleName allResponsiveText"> {{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.table.tableColumn.Profiles'): ""}}</mat-card-title>
        <mat-card-subtitle class="card_icon_right">
          <mat-icon>account_box</mat-icon>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="22%" class="card_margin allResponsiveCard" (click)="getCommissionedNodes();">
    <mat-card class="meshMainCardNew firmPushCard matCardAll marginTop-20">
      <mat-card-header>
        <mat-card-title
          class="cardTitleName allResponsiveText"> {{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.cards.commissionedNodes'): ""}}</mat-card-title>
        <mat-card-subtitle class="card_icon_right">
          <mat-icon aria-hidden="false" aria-label="perm_data_setting icon">
            all_out
          </mat-icon>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="22%" class="card_margin allResponsiveCard" (click)="getDiscoveredNodes();">
    <mat-card class="meshMainCardNew firmPushCard matCardAll marginTop-20">
      <mat-card-header>
        <mat-card-title
          class="cardTitleName allResponsiveText"> {{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.cards.discoveredNodes'): ""}}</mat-card-title>
        <mat-card-subtitle class="card_icon_right">
          <mat-icon aria-hidden="false" aria-label="perm_data_setting icon">
            settings_input_antenna
          </mat-icon>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="22%" class="card_margin allResponsiveCard" (click)="getGradeMappings();">
    <mat-card class="meshMainCardNew firmPushCard matCardAll marginTop-20">
      <mat-card-header>
        <mat-card-title
          class="cardTitleName allResponsiveText"> {{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.gradeMapping.heading'): ""}}</mat-card-title>
        <mat-card-subtitle class="card_icon_right">
          <mat-icon aria-hidden="false" aria-label="perm_data_setting icon">
            low_priority
          </mat-icon>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </div>

  <!--  second virtual switch card start here -->
  <div fxFlex="22%" class="card_margin allResponsiveCard" (click)="getVirtualSwitch();">
    <mat-card class="meshMainCardNew firmPushCard matCardAll marginTop-20">
      <mat-card-header>
        <mat-card-title
          class="cardTitleName allResponsiveText"> {{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.nodeSettings.cards.param.virtualSwitches'): ""}}</mat-card-title>
        <mat-card-subtitle class="card_icon_right">
          <mat-icon aria-hidden="false" aria-label="perm_data_setting icon">
            switch_camera
          </mat-icon>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="22%" class="card_margin allResponsiveCard" (click)="getSettings();">
    <mat-card class="meshMainCardNew firmPushCard matCardAll marginTop-20">
      <mat-card-header>
        <mat-card-title class="cardTitleName allResponsiveText">{{UIDICTIONARY ? UIDICTIONARY.get('ui.lightCommissioning.cards.settings'): ""}}</mat-card-title>
        <mat-card-subtitle class="card_icon_right">
          <mat-icon aria-hidden="false" aria-label="perm_data_setting icon">
            settings
          </mat-icon>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </div>
</div>

