<mat-card class="form_cards">
  <!-- Title of an Card -->
  <mat-toolbar class="mat-toolbar_all">
    <mat-card-title class="sidebar_form_title">
      <span>{{UIDICTIONARY ? UIDICTIONARY.get('ui.modbus.device.heading'): ""}}</span>
      <small *ngIf="modbusDeviceName">{{modbusDevice.name}}</small>
    </mat-card-title>
    <span class="spacer"></span>
  </mat-toolbar>
  <div *ngFor="let error of ListError" [hidden]="!messageError">
    <mat-card class="validation-error">
      <li>{{error.property}} : {{error.message}}</li>
    </mat-card>
  </div>
  <form class="modbusDeviceForm">
    <mat-form-field class="form_field  w-50" appearance="fill">
      <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.modbus.device.placeholder.id'): ""}}</mat-label>
      <input matInput class="form-control" [(ngModel)]="modbusDevice.id" name="id" type="text" readonly>
    </mat-form-field>
    <mat-form-field class="form_field w-50 mt-10 ml-30" appearance="fill">
      <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.modbus.device.placeholder.xid'): ""}}</mat-label>
      <input matInput name="xid" [(ngModel)]="modbusDevice.xid" class="inputBoxHeight" type="text" readonly>
    </mat-form-field>
    <mat-form-field class="form_field w-50 mt-10" appearance="fill">
      <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.modbus.device.placeholder.name'): ""}}</mat-label>
      <input matInput name="name" [(ngModel)]="modbusDevice.name" required>
    </mat-form-field>
    <mat-form-field class="form_field w-50 ml-30" appearance="fill">
      <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.modbus.device.placeholder.type'): ""}}</mat-label>
      <input matInput type="text" [(ngModel)]="modbusDevice.type" name="type" required>
      <mat-hint class="hintStyle">* Name of attribute type and device type should match</mat-hint>
    </mat-form-field>
    <mat-divider class="modbusDeviceDividers"></mat-divider>
    <mat-form-field class="form_field w-50" appearance="fill">
      <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.placeholder.search'): ""}}</mat-label>
      <input matInput type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="form_field w-50 ml-30" appearance="fill">
      <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.placeholder.permissions'): ""}}</mat-label>
      <mat-select matInput name="readPermission" [(ngModel)]="readPermission" multiple required>
        <mat-option *ngFor="let read of editPermission" [value]="read">{{read}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <!-- <mat-chip-list>
      <mat-chip *ngFor="let option of selectedOptions" (removed)="removeOption(option)">
        {{ option.name }}
        <button matChipRemove [attr.aria-label]="'remove ' + option">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list> -->
    <br>
    <button mat-raised-button *ngIf="!isEdit"  class="updateButton" (click)="updateDeviceList()">
      {{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.update')|  uppercase) : ""}}
    </button>
    <button *ngIf="isEdit" (click)="save()" mat-raised-button class="saveButton"> {{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.save')|  uppercase) : ""}}</button>
  </form>
</mat-card>
