<mat-card class="form_cards copyPublisherMain">
  <mat-toolbar class="mat-toolbar_all mat-toolbar details-toolbar mat-toolbar-single-row">
    <mat-card-title class="sidebar_form_title">
      {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.button.copy'): ""}}
    </mat-card-title>
  </mat-toolbar>
  <div class="mat-content">
    <form>
      <div>
        <mat-form-field class="form_field  publisherCopyInput mt-10" appearance="fill">
          <mat-label> {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.name'): ""}}</mat-label>
          <input matInput name="name" type="text" [(ngModel)]="copyName" required>
        </mat-form-field>
      </div>


        {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.menu.publisher'): ""}}  : &nbsp;
        {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.tab.points'): ""}}  &nbsp;
        {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.button.no'): ""}}
        <span class="copyTogglePublish">
          <i class="material-icons">arrow_back</i>
        <i class="material-icons">arrow_forward</i>
      </span>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.button.yes'): ""}}

       <mat-slide-toggle [(ngModel)]="pubPoints" name="points" class="side_form_toggle toggle_change allToggls publisherCopyToggle">

        </mat-slide-toggle>
   <br>

        {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.menu.publisher'): ""}}  : &nbsp;&nbsp;
        {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.disabled'): ""}}
        <span class="copyTogglePublish"><i class="material-icons">arrow_back</i>
          <i class="material-icons">arrow_forward</i></span>
        {{"Enabled"}}
        <mat-slide-toggle [(ngModel)]="pubEnabled" name="enabled" class="side_form_toggle toggle_change allToggls">

        </mat-slide-toggle>

      <div class="actionButtonsAll publisherCopyButton">
        <button mat-raised-button class="saveButton" (click)="saveCopyData(xid)">{{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.copy') | uppercase) : ""}}</button>
        <button mat-raised-button class="Save_Button cancelAllButtons" mat-dialog-close>
          {{UIDICTIONARY ? (UIDICTIONARY.get('ui.core.common.button.cancel') | uppercase) : ""}}
        </button>
      </div>
    </form>
  </div>
</mat-card>
