<mat-card class="form_cards">
  <mat-toolbar
    class="mat-toolbar mat-toolbar_all details-toolbar mat-toolbar-single-row">
    <mat-card-title class="sidebar_form_title">
      {{UIDICTIONARY ? UIDICTIONARY.get('ui.meshConsole.configuration.sinkSettings'):""}}
    </mat-card-title>
  </mat-toolbar>
  <mat-card-content class="form_cards form_edit_card allFormedit sinkForms">
    <form>
      <div id="messages">
        <mat-card class="validation-error" *ngIf="messages">
          {{websocketResponse.payload.result.confirmMessage.messageType}}: {{websocketResponse.payload.result.confirmMessage.message}}
        </mat-card>
      </div>
        <mat-form-field class="form_field sinkFormAlign" appearance="fill">
          <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.meshConsole.field.address'):""}}</mat-label>
          <input matInput name="meshAddress" [disabled]="isStackRunning"
                 placeholder="Enter Address" [(ngModel)]="address">
        </mat-form-field>
        <button mat-mini-fab class="saveButton sinkPushButton" [disabled]="isStackRunning"
                aria-label="icon button with a filter list icon" (click)="pushAddress()">
          {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.button.push'):""}}
        </button>

        <mat-form-field class="form_field sinkFormAlign" appearance="fill">
          <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.meshConsole.field.network'): ""}}</mat-label>
          <input matInput name="meshNetwork" [disabled]="isStackRunning"
                 placeholder="Enter Network" [(ngModel)]="network">
        </mat-form-field>
        <button mat-mini-fab class="saveButton sinkPushButton" [disabled]="isStackRunning"
                aria-label="icon button with a filter list icon" (click)="pushNetwork()">
          {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.button.push') : ""}}
        </button>

        <mat-form-field class="form_field sinkFormAlign" appearance="fill">
          <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.meshConsole.field.channel') : ""}}</mat-label>
          <input matInput name="meshChannel" [disabled]="isStackRunning"
                 placeholder="Enter Channel" [(ngModel)]="channel">
        </mat-form-field>
        <button mat-mini-fab class="saveButton sinkPushButton" [disabled]="isStackRunning"
                aria-label="icon button with a filter list icon" (click)="pushChannel()">
          {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.button.push'): ""}}
        </button>

        <mat-form-field class="form_field sinkFormAlign" appearance="fill">
          <mat-label>{{UIDICTIONARY ? UIDICTIONARY.get('ui.meshConsole.field.role'): ""}}</mat-label>
          <mat-select  [(ngModel)]="role" name="role" [disabled]="isStackRunning">
            <mat-option *ngFor="let role of roles;" [value]="role.key">{{role.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-mini-fab class="saveButton sinkPushButton" [disabled]="isStackRunning"
                aria-label="icon button with a filter list icon" (click)="pushRole()">
         {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.button.push'): ""}}
        </button>

      <button mat-raised-button class="Save_Button saveConsoleButton sinkStart  w-23"
              [disabled]="isStackRunning" (click)="startStack()">
        {{UIDICTIONARY ? UIDICTIONARY.get('ui.meshConsole.button.startStack'): ""}}
      </button>
      <button mat-raised-button [disabled]="!isStackRunning"
              class="Save_Button saveConsoleButton  sinkStops marginLeft30 w-23" (click)="stopStack()">
        {{UIDICTIONARY ? UIDICTIONARY.get('ui.meshConsole.button.stopStack') :""}}
      </button>
    </form>
  </mat-card-content>
</mat-card>
