<div class="headinglayout" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
     fxLayoutAlign="center">
  <div fxFlex="100%">
    <mat-toolbar>
      <mat-icon class="allArrowBack" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.snmp.backToPointImport').substring(0,5): ''}}" (click)="goBack()">
        <i class="material-icons">arrow_back_ios_new</i>
      </mat-icon>
      <span>{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.scheduler'): ""}}</span>
      <div class="containerInfo">
        <mat-form-field class="topSearchBoxes mt-10">
          <mat-label> {{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.fields.search'): ""}}</mat-label>
          <input matInput name="searchWatchList"
                 placeholder="Search...">
          <mat-icon class="Input_search" matSuffix>search</mat-icon>
        </mat-form-field>

        <mat-icon (click)="schedulerHelp()" aria-hidden="false" class="info_position" aria-label="error_outline icon"
                  title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.system.dataPurge.informationAlarmsPurge').substring(0,11): ''}}">
          error_outline
        </mat-icon>
      </div>
    </mat-toolbar>
  </div>
</div>

<div class="cardlayout width-100" fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5% grid"
     fxLayoutAlign="left">
  <div fxFlex="22%" class="card_margin" *ngFor="let Scheduler of Schedulers">
    <mat-card class="meshMainCardNew firmPushCard matCardAll marginTop-20">
      <mat-card-header>
        <mat-card-title class="cardTitleName">{{Scheduler.name}}</mat-card-title>
        <mat-card-subtitle class="card_icon_right cardIconRight">
          <mat-icon class="rightIconsCards" aria-hidden="false" aria-label="visibility icon">
            visibility
          </mat-icon>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

      </mat-card-content>
      <mat-card-actions class="mat_right_icons">
        <mat-icon aria-hidden="false" class="allIcons" aria-label="edit icon" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.icon.hover.edit'): ''}}"
                  (click)="editScheduler(Scheduler)">
          edit
        </mat-icon>

        <mat-icon aria-hidden="false" class="allIcons" aria-label="delete icon" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.icon.hover.delete'): ''}}"
                  (click)="deleteSchedulers(Scheduler)">
          delete
        </mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>

</div>

<div *ngIf="totalScheduler > limit" class="pagination_fixed">
  <mat-paginator class="pagination_all" [pageIndex]=0 [length]="totalScheduler" [pageSizeOptions]="pageSizeOptions"
                 [pageSize]=limit
                 (page)="getSchedulerNextPage($event)"></mat-paginator>
</div>

<mat-drawer-container class="container sidebar_position" autosize
                      [hasBackdrop]="false">
  <mat-drawer #scheduler class="sidenav schedulerSidebarCommon" [mode]="push" position="end">
    <mat-icon aria-hidden="false" class="allCloseOptions" id="sidebarclose" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.common.button.close'): ''}}"
              aria-label="close icon">
      close
    </mat-icon>
    <button (click)="allClosed($event)" mat-raised-button class="Save_Button cancelAllData top-54">
      {{UIDICTIONARY  ? (UIDICTIONARY.get('ui.core.common.button.cancel') | uppercase) : ""}}
    </button>

    <app-scheduler-form-set (addedSavedScheduler)="savedData($event)"></app-scheduler-form-set>
  </mat-drawer>

</mat-drawer-container>

<div class="addIcon">
  <mat-icon mat-button (click)="addNewScheduler()" title="{{UIDICTIONARY ? UIDICTIONARY.get('ui.core.title.add.scheduler'): ''}}">library_add</mat-icon>
  </div>
